* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #282727;
    --secondary-color: #AE633F;
    --Tertiary-colors: #CEAB5C;
}

h1,
h2 {
    font-family: "Philosopher", sans-serif !important;
    font-weight: 900;
    font-style: normal;
    line-height: 28px;
}

h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

span,
label,
button,
input,
optgroup,
select,
textarea,
a,
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.open {
    top: 0px !important;
    opacity: 1 !important;
}

/* Desktop view: Show dropdown on hover */
li.relative:hover .absolute {
    opacity: 1;
    visibility: visible;
}

/* Mobile view: Hide dropdown by default */
@media (max-width: 767px) {
    li.relative .absolute {
        visibility: hidden;
        opacity: 0;
    }

    li.relative.open .absolute {
        visibility: visible;
        opacity: 1;
    }
}

.sticky {
    transition: all 0.3s ease-in-out;
}

.active {
    color: #fff;
    font-weight: bold;
    background: #821837;
    padding: 5px 15px;
    border-radius: 5px;
}


/* --- Dropdown Nav link ---  */

.bg-custom {
    background-color: #ae633f !important;
}

#astroTalk {
    transition: display 0.3s ease-in-out;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.4s ease, top 0.4s ease;
}


ul {
    position: relative;
}

.nav-bar {
    background-image: linear-gradient(to right top, #aa6732, #9a4f35, #843b37,
            #6b2b36, #4f1e31);
}

.menuList li a {
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menuList li a:hover {
    background: #821837;
    color: #fff;
}

/* .mini-nav {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 20px;
    margin-bottom: 20px;
} */

.hero-section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;
    height: 730px; */
}

.image-home {
    background-image: url('/static/assets/images/t.jpeg');
}

.image-reiki {
    background-image: url('/static/assets/images/newReiki.jpg');
    height: 730px;
}

.image-contact {
    background-image: url('/static/assets/images/contact\ banner.jpg');
    height: 730px;
}

/* .personalised-banner {
    background-image: url('/static/assets/images/Kundli\ report\ banner.jpg');
    height: 730px;
} */

/* .kundli-hero {
    background-image: url('/static/assets/images/Astro\ Form\ Banner\ \(1\).jpg');
    height: 730px;
} */

.paymentPage-banner,
.resultPage-banner {
    background-image: url('/static/assets/images/q.jpg');
    /* height: 560px; */
}

/* .numerology-hero {
    background-image: url('/static/assets/images/Banner\ 5.jpg');
    height: 730px;
} */

/* .Astromapping-hero {
    background-image: url('/static/assets/images/Banner\ 4.jpg');
    height: 730px;
} */

.astrological-image {
    animation: animName 18s linear infinite;
}

@keyframes animName {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main-container {
    margin: 75px 100px;
}

.category-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* animated hover effect on button  */

.hoverEffect {
    transition: all 0.3s ease-in-out;
}

.hoverEffect:Hover {
    background: #CEAB5C;
    /* background: #85302b; */
}

.heroSection {
    height: 85vh;
}

/* --------- end -------- */

/* team  */

.teamCard {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px 0;
}

/* testimonial  */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* --- footer ---  */

/* .footerBottom {
    border-bottom: 1px solid #AE633F;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.footerBottom ul li {
    padding: 2px 0;
} */

.footer-icon {
    filter: invert(62%) sepia(100%) saturate(230%) hue-rotate(4deg) brightness(96%) contrast(80%);
}

/* --------- footer video -----  */

.video-background {
    position: relative;
    width: 100%;
    height: 65%;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #f6efe0e8; */
    background: #442b58e8;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: #0b0b0b;
    text-align: center;
    padding: 40px 100px;
}

.info-footer li {
    font-family: "Roboto", sans-serif;
}



/* --- Reiki Healing Workshop page ----  */

.sub-pages {
    /* background-image: url('/static/assets/images/blue-bg\ 2.jpg'); */
    /* background-position: center center;
    background-size: cover;
    height: 510px; */
}

.subImage {
    max-width: 240px;
}

.image-box-one,
.image-box-two,
.image-box-three,
.image-box-four,
.image-box-five,
.image-box-six,
.image-box-seven {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #AE633F !important;
}

.image-box-one::before,
.image-box-two::before,
.image-box-three::before,
.image-box-four::before,
.image-box-five::before,
.image-box-six::before,
.image-box-seven::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.image-box-one.active::before {
    background-image: url('/static/assets/images/Foundations\ of\ Reiki.jpg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-two.active::before {
    background-image: url('/static/assets/images/Chakra\ Alignment.jpeg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-three.active::before {
    background-image: url('/static/assets/images/Hands-on\ Practice.jpg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-four.active::before {
    background-image: url('/static/assets/images/Self-Healing\ Techniques.jpeg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-five.active::before {
    background-image: url('/static/assets/images/Healing\ Others.jpg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-six.active::before {
    background-image: url('https://images.pexels.com/photos/1314133/pexels-photo-1314133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-seven.active::before {
    background-image: url('https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-one:hover::before,
.image-box-two:hover::before,
.image-box-three:hover::before,
.image-box-four:hover::before,
.image-box-five:hover::before,
.image-box-six:hover::before,
.image-box-seven:hover::before {
    opacity: 0.3;
}

.image-box-one h1,
.image-box-one p,
.image-box-two h1,
.image-box-two p,
.image-box-three h1,
.image-box-three p,
.image-box-four h1,
.image-box-four p,
.image-box-five h1,
.image-box-five p,
.image-box-six h1,
.image-box-six p,
.image-box-seven h1,
.image-box-seven p {
    position: relative;
    z-index: 1;
    color: #4F3E17;
}

.image-box-one p,
.image-box-two p,
.image-box-three p,
.image-box-four p,
.image-box-five p,
.image-box-six p,
.image-box-seven p {
    color: #282727;
}

.image-box-one.active p,
.image-box-two.active p,
.image-box-three.active p,
.image-box-four.active p,
.image-box-five.active p,
.image-box-six.active p,
.image-box-seven.active p {
    /* color: #fff; */
}

.reiki-form input,
.reiki-form select,
.reiki-form textarea {
    border: #bcbcbc solid 1px;
    width: 100%;
    height: 40px;
    background: #8765C4;
    margin-top: 5px;
    border-radius: 10px;
    padding: 0 10px;
    color: white;
}


.reiki-form select option {
    font-weight: 400 !important;
}

.optionLabel {
    background: #fff;
    color: violet;
}

/* Scrollbar styles for dropdown */

select::-webkit-scrollbar {
    width: 8px;
}

select::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 4px;
}

select::-webkit-scrollbar-thumb {
    background-color: #694CA7;
    border-radius: 4px;
}

select::-webkit-scrollbar-thumb:hover {
    background-color: #532F89;
}



.reiki-form input::placeholder,
.reiki-form select::placeholder,
.reiki-form textarea::placeholder {
    color: #fff;
    font-size: 14px;
}

.reiki-form input:focus,
.reiki-form select:focus,
.reiki-form textarea:focus {
    outline: none;
}

.reiki-form textarea {
    height: 155px;
}

/* ---- kundli page -----  */

.submit_btn {
    background: #AE633F !important;
    cursor: pointer;
    color: white;
}

/* Hide the dropdown initially */
.hidden {
    display: none;
}

/* Dropdown button hover styles (optional) */
#dropdownButton:hover {
    cursor: pointer;
}

/* Dropdown menu visible styles (toggle with JavaScript) */
.show {
    display: block;
}

.buttonDropdown ul {
    background-image: linear-gradient(to right top, #ae633f, #b87444, #c1864a,
            #c89852, #ceab5c);
    border-radius: 5px;
}

/* .grecaptcha-badge {
    display: none;
} */

input::placeholder {
    font-size: 14px;
}

/* ------------------------ social icons fixed -------------  */

.mobileviewSocial {
    position: fixed;
    top: 60%;
    right: 0%;
    transform: translateY(-50%);
    z-index: 1000;
}

/* .hiddenn {
    opacity: 1;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.visible {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s ease, opacity 0.5s ease;
} */


.hiddenn {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.visible {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@media (min-width: 769px) {
    .hiddenn {
        /* Remove forced visibility in desktop view */
        opacity: 0;
        transform: scaleY(0);
    }

    .visible {
        opacity: 1;
        transform: scaleY(1);
    }
}

.toggleIcon {
    width: 40px;
    height: 40px;
    background: #00adee;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px 0;
}

.mobileviewSocial ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.mobileviewSocial ul li a img {
    max-width: 40px;
}

.whatsapp,
.facebook {
    margin: 6px 3px;
}

.instagram a img {
    max-width: 38px !important;

}

.facebook a img {
    max-width: 37px !important;
}

/* ----------------- Responsive work --------------  */


@media (max-width:868px) {

    .astrological-image {
        max-width: 60% !important;
    }

    .mini-nav {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .main-container {
        margin: 40px 15px;
    }

    .menuList li a {
        padding: 8px 15px;
    }

    .dropdownList {
        background: #ae633f;
    }

    .category-cart {
        top: 0;
    }

    .video-background {
        height: 100% !important;
    }

    .content {
        padding: 20px 20px !important;
    }

    /* reiki healing workshop page  */

    .sub-pages {
        height: 560px !important;
    }

    .astroheroimage {
        top: 22% !important;
    }

    .numerology-hero,
    .Astro-Vastu-hero {
        height: 450px;
    }

    .info-footer li span,
    .footerlinks li a {
        font-size: 15px !important;
    }

    .toggleIcon {
        width: 32px;
        height: 32px;
        font-size: 13px;
    }

    .mobileviewSocial ul li a img {
        max-width: 34px;
    }

    .instagram a img,
    .facebook a img {
        max-width: 32px !important;
    }
}


@media (min-width:320px) and (max-width: 426px) {
    /* .hero-section {
        height: 670px;
    } */

    .benefit-img {
        height: 1050px !important;
    }

    .subImage {
        max-width: 180px;
    }

    .bookSession {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:320px) and (max-width: 375px) {

    .subImage {
        max-width: 145px;
    }

    .benefit-img {
        height: 1050px !important;
    }

    .astroheroimage {
        top: 26% !important;
    }
}

@media (min-width:425px) and (max-width: 598px) {
    .subImage {
        max-width: 204px;
    }

    .astroheroimage {
        top: 16% !important;
    }

}

@media (min-width:375px) and (max-width: 598px) {

    /* .hero-section {
        height: 695px;
    } */

    .benefit-img {
        height: 920px !important;
    }

    .bookSession {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:600px) and (max-width: 768px) {

    .benefit-img {
        height: 760px !important;
    }

    .bookSession {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:768px) and (max-width: 1023px) {

    .astroheroimage {
        top: -58% !important;
    }

    /* .hero-section {
        height: 701px;
    } */

    .heroSection {
        height: 70vh;
    }

    .astrological-image {
        max-width: 40% !important;
    }

    .sub-pages {
        height: 565px;
    }

    .benefit-img {
        height: 530px !important;
    }
}

@media (min-width:1024px) and (max-width: 1200px) {

    .main-container {
        margin: 30px 30px;
    }

    .content {
        padding: 40px 10px;
    }

    .menuList li a {
        padding: 5px 5px;
    }
}


@media only screen and (min-width: 1900px) {
    .hero-head {
        top: 340px !important;
    }

    /* .heroSection {
        height: 70vh;
    } */

    /* .hero-section {
        height: 1160px;
    } */

    .image-contact,
    .image-reiki {
        height: 910px;
    }

    /* .personalised-banner {
        height: 600px;
    } */

    .subHeader {
        top: 710px !important;
    }

    .kundliHeader {
        top: 715px !important;
    }

    .subHeaderContact {
        top: 725px !important;
    }

    .subHeader h1,
    .subHeaderContact h1 {
        font-size: 60px !important;
    }

    .astroheroimage {
        top: -125% !important;
    }

    .nav-top {
        width: 25% !important;
    }

    .loginBtn {
        width: 6% !important;
    }

    .sticky-icon {
        top: 21%;
    }

    .bookSession {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (min-width: 2200px) {

    .astroheroimage {
        top: -160% !important;
    }

    .kundliHeader {
        top: 740px !important;
    }

    .image-contact,
    .image-reiki {
        height: 910px;
    }

    .sticky-icon {
        top: 22%;
    }

    .bookastro iframe {
        height: 601px;
    }

    .LandingVideo iframe {
        height: 650px;
    }

    .heroSection {
        height: 75vh;
    }


}



/* -------- New Design Landing page For only testing -------  */

.gradientBtn {
    background-image: linear-gradient(to right top, #ae633f, #b87444,
            #c1864a, #c89852, #ceab5c);
    transition: all 0.5s;
}

.gradient-text {
    font-weight: 900;
    color: #ffff89;
}

.gradient-text-2 {
    background: linear-gradient(to right top, #ae633f, #b87444, #c1864a,
            #c89852, #ceab5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}

.ServicesBG {
    /* background: linear-gradient(to right top, #ae633f, #b87444, #c1864a, #c89852, #ceab5c); */
    background-image: linear-gradient(to right top, #ce9378, #d4a07c, #d8ad82,
            #dcba88, #dec791);
}

.service-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg) brightness(102%) contrast(102%);
}

.serviceCard {
    box-shadow: 0 2px 30px rgba(23, 15, 73, .1);
    border-radius: 40px;
}

.rotate-icon {
    transform: rotate(45deg);
}

.rotate-icon img {
    transform: rotate(-45deg);
}

.lineBelow {
    border-top: 2px solid #5cb8d8;
    margin-bottom: 10px;
    border-radius: 15px;
}

.swiper-slide {
    background: transparent !important;
}

/* buy kundli button animation  */

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    margin: 10px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
}

.btn--snakeBorder {
    background-image: linear-gradient(to right top, #ae633f, #b87444, #c1864a,
            #c89852, #ceab5c);
    overflow: hidden;
    font-weight: 600;
    font-size: 13px;
}

.btn--snakeBorder::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
}

.btn--snakeBorder span {
    position: absolute;
}

.btn--snakeBorder span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right top, #eb1c24, #f22887, #c367d3, #6f92f4, #01acea);
    animation: borderAnimation1 2s linear infinite;
}

@keyframes borderAnimation1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.btn--snakeBorder span:nth-child(2) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to right top, #eb1c24, #f22887, #c367d3, #6f92f4, #01acea);
    animation: borderAnimation2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes borderAnimation2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.btn--snakeBorder span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right top, #eb1c24, #f22887, #c367d3, #6f92f4, #01acea);
    animation: borderAnimation3 2s linear infinite;
}

@keyframes borderAnimation3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.btn--snakeBorder span:nth-child(4) {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: borderAnimation4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes borderAnimation4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.graph-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(281deg) brightness(101%) contrast(103%);
}

.process-step::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 45px;
    background-color: #ffff89;
}

.cardkundliInfo {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #42c4ff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 0px 0px #42c4ff;
}


/* ----- faqs ---------  */

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #CEAB5C;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    /* color: #7288a2; */
    color: #fff;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: var(--Tertiary-colors);
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: var(--Tertiary-colors);
    border: 1px solid #CEAB5C;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 700;
    font-size: 19px;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #CEAB5C;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 19em;
    transition: all 600ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 600ms linear, max-height 600ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5em 0;
    color: white;
    line-height: 28px;
}


@media (max-width:868px) {

    .astrological-image {
        max-width: 100% !important;
    }

    /* .hero-section {
        height: 610px;
    } */

    .kundli-hero {
        /* height: 510px; */
    }

    /* .personalised-banner {
        height: 570px;
    } */

    .btn {
        padding: 10px 12px;
        font-size: 12px;
    }

    .accordion button .accordion-title {
        font-size: 18px;
    }

    .accordion .accordion-content p {
        font-size: 15px;
        margin: 1em 0;
    }

}

/* new reiki page  */

.meditationBox {
    background-image: linear-gradient(to right top, #b698e3, #9b7fc9,
            #8167b0, #675097, #4e3a7f);
    padding: 0px 15px 0px 0;
}

.meditationBox img {
    border-radius: 5px 0 0 5px;
}

/* Mobile-specific styles using rotate */
@media (max-width: 768px) {

    .btn-rotate {
        transform: rotate(90deg);
        font-size: 10px;
    }

}