/* red - #eb1c24  */
/* skyblue - #00adef  */
/* black - #231f20  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

h5,
h6 {
    font-weight: 500;
}

p,
a,
button,
input,
label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.formContainer {
    padding: 80px 120px;
    background-image: url("/static/assets/images/Astology.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rowMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.colLeft {
    width: 42%;

    /* height: 650px; */
    /* padding: 50px; */

    display: flex;
    align-items: center;
}

.contentBG {
    background: white;
    padding: 35px;
    border-radius: 15px 0 0 15px;

}

.contentBG img {
    max-width: 120px;
}

.contentBG h1 {
    font-size: 25px;
    margin: 25px 0;
    color: rgb(206, 171, 92);
}

.contentBG p {
    font-size: 16px;
    color: rgb(69, 57, 31);
    line-height: 28px;
}

.contentpara {
    margin-top: 10px;
}

.colRight {
    width: 58%;
}

/* ----- form ----  */

.form {
    position: relative;
    width: 100%;
    padding: 35px;
    border-radius: 15px;

    /* background: rgb(255 255 255 / 95%); */
    background-color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.formHead {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formHead img {
    max-width: 81px;
}

.formHead h2 {
    color: rgb(206, 171, 92);
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 25px;
}

.formHead p {
    color: #45391f;
    font-size: 16px;
}

.dataBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.inputBx {
    position: relative;
    width: 49%;
}

.formLabel {
    margin-bottom: 6px;
}

.formLabel label {
    font-size: 17px;
    color: rgb(206 171 92 / 89%);
}

.inputBx input,
.inputBx select {
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid rgb(25 22 22 / 20%);
    background: rgba(255, 255, 255, 0.2);
    padding: 11px 10px;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.inputBx input:focus, select:focus {
    border: 1px solid #000; /* Change this color to whatever you like */
    outline: none; /* Remove the default outline */
}

.selectBx {
    width: 32%;
}

.inputBx input[type="submit"] {
    background: #fff;
    color: #231f20;
    max-width: 240px;
    padding: 12px 10px;
    box-shadow: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .7s;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

.inputBx input[type="submit"]:hover {
    background: #ae633f;
    color: #fff;
    transition: .7s;
}

input::placeholder {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.formBtn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


/* review page */

.reviewSec {
    background-image: url("/static/assets/images/pattern.jpg");
    padding: 40px 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviewMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.logoPNG {
    margin-bottom: 25px;
}

.reviewContainer {
    background: #fff;
    padding: 3rem;
    width: 58%;
    border-radius: 10px;
}

.reviewContainer h1 {
    text-align: center;
    margin-bottom: 25px;
    color: rgb(206, 171, 92);
}

.inputContainer {
    border: 2px solid #AE633F;
    padding: 2rem;
}

.radioBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.radioData {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* checkbox input  */


.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox input:checked~.checkbox__checkmark {
    background-color: #ceab5c;
}

.checkbox input:checked~.checkbox__checkmark:after {
    opacity: 1;
}

.checkbox:hover input~.checkbox__checkmark {
    background-color: #eee;
}

.checkbox:hover input:checked~.checkbox__checkmark {
    background-color: #ceab5c;
}

.checkbox .checkbox__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 4px;
}

.checkbox .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
}


/* -----  */


.labels label,
.radioBtn h2 {
    font-size: 17px;
    color: #4e4127;
}

.labels {
    margin-left: 15px;
}

.radioData h6 {
    color: rgb(234 88 12);
    font-size: 15px;
    margin-top: 5px;
}

.radioData input[type="radio"] {
    border: 1px solid red;
}

.priceContainer h5 {
    font-size: 17px;

}

.priceContainer h5 strike {
    margin-right: 15px;
    color: #6f6f6f !important;
}

.reviewDetails {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.reviewCard {
    width: 48%;
}

.reviewSubD {
    background: #AE633F;
    padding: 25px;
    color: white;
}

.reviewD h2 {
    font-size: 19px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #ceab5c;
}

.reviewS {
    margin-top: 25px;
}

.reviewSubD h5 {
    font-size: 18px;
}

.reviewDate {
    display: flex;
    margin: 15px 0;
}

.reviewDate h6 {
    margin-right: 25px;
}

.reviewSubD h6 {
    font-size: 17px;
    display: flex;
}

.reviewSubD h6 img {
    width: 18px;
    margin-right: 6px;
}

.langSelect select {
    width: 100%;
    padding: 12px 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    border: 2px solid #a3a3a3;
    color: #454545;
}

.langSelect select option {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.formDetails input {
    width: 100%;
    padding: 12px 10px;

    border: 2px solid #a3a3a3;
    color: #454545;
}

.EmailDetails {
    margin-bottom: 25px;
}

.EmailDetails label {
    color: rgb(206, 171, 92);

}

.EmailDetails input {
    margin-top: 15px;
}











/* ------- Responsive work --------  */

@media (max-width:868px) {
    .reviewSec {
        padding: 25px 0;
    }

    .rowMain {
        display: block;
    }

    .formContainer {
        padding: 15px;
    }

    .colLeft {
        width: 100%;
    }

    .contentBG {
        padding: 20px;
        border-radius: 15px 15px 0 0;
    }

    .contentBG h1 {
        font-size: 22px;
    }

    .contentBG p {
        font-size: 15px;
    }

    .colRight {
        width: 100%;
    }

    .form {
        padding: 15px;
        border-radius: 0 0 15px 15px;
    }

    .formHead h2 {
        font-size: 22px;
        margin: 0 0 15px 0;
    }

    .formHead p {
        font-size: 16px;
    }

    .dataBox {
        display: block;
    }

    .inputBx {
        width: 100%;
    }

    .formLabel label {
        font-size: 16px;
    }

    .inputBx input,
    .inputBx select {
        padding-left: 10px;
        font-size: 15px;
    }

    .inputBx input[type="submit"] {
        max-width: 150px;
        font-size: 15px;
    }


    /* payment page  */


    .reviewMain {
        padding: 0 15px;
    }

    .logoPNG {
        margin-bottom: 20px;
    }

    .reviewContainer {
        padding: 1rem;
        width: 100%;
    }

    .inputContainer {
        padding: 0.8rem;
    }

    .checkbox {
        padding-left: 20px;
    }

    .labels label,
    .radioBtn h2 {
        font-size: 16px;
    }

    .radioData h6 {
        font-size: 14px;
    }

    .priceContainer h5 {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }

    .priceContainer h5 strike {
        margin: 0;
        margin-bottom: 5px;
    }

    .reviewDetails {
        display: block;
    }

    .reviewCard {
        width: 100%;
    }

    .reviewSubD {
        padding: 15px;
        margin-bottom: 15px;
    }

    .reviewSubD h5 {
        font-size: 17px;
    }

    .reviewSubD h6 {
        font-size: 16px;
    }

    .reviewD h2 {
        font-size: 18px;
    }

    .langSelect select {
        font-size: 14px;
    }

    .reviewDetails {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .EmailDetails input {
        font-size: 15px;
    }
}

@media (min-width:320px) and (max-width: 374px) {

    .container {
        width: 240px;
        padding: 30px;
    }
}

@media (min-width:375px) and (max-width: 424px) {
    .container {
        width: 280px;
        padding: 30px;
    }
}

@media (min-width:425px) and (max-width: 767px) {
    .container {
        width: 325px;
        padding: 30px;
    }
}


@media (min-width:869px) and (max-width: 1100px) {

    .formContainer {
        padding: 100px 40px;
    }

    .contentBG {
        padding: 25px;
    }

    .form {
        padding: 25px;
    }

    .inputBx input,
    .inputBx select {
        padding-left: 10px;
    }

    .reviewContainer {
        background: #fff;
        padding: 3rem;
        width: 80%;
        border-radius: 10px;
    }

    /* payment page  */

    .reviewContainer {
        width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .formContainer {
        padding: 115px 40px;
    }
}


@media (min-width: 1600px) {
    .formContainer {
        padding: 120px 60px;
    }
}