* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #282727;
    --secondary-color: #AE633F;
    --Tertiary-colors: #CEAB5C;
}



h1,
h2 {
    font-family: "Philosopher", sans-serif !important;
    font-weight: 900;
    font-style: normal;
    line-height: 28px;
}

h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

span,
label,
button,
input,
optgroup,
select,
textarea,
a,
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* .Nav-section {
    padding: 0 100px;
} */

.nav-bar {
    background-color: #d2833680;
    z-index: 9999;
    box-shadow: 0 2px 30px rgba(23, 15, 73, .1);
}

.open {
    top: 0px !important;
    opacity: 1 !important;
}

.sticky {
    transition: all 0.3s ease-in-out;
}


.bg-custom {
    background-color: #ae633f !important;
}

#astroTalk {
    transition: display 0.3s ease-in-out;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.4s ease, top 0.4s ease;
}


ul {
    position: relative;
}

/* .mini-nav {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 20px;
    margin-bottom: 20px;
} */

.hero-section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 801px;
}

.image-home {
    background-image: url('/static/assets/images/t.jpeg');
}

.image-reiki {
    background-image: url('/static/assets/images/reiki\ banner.jpg');
    height: 560px;
}

.image-contact {
    background-image: url('/static/assets/images/contact\ banner.jpg');
    height: 560px;
}

.personalised-banner {
    background-image: url('/static/assets/images/Sub-Banner.jpg');
}

.kundli-hero {
    height: 560px;
}

.paymentPage-banner,
.resultPage-banner {
    background-image: url('/static/assets/images/q.jpg');
}


.astrological-image {
    animation: animName 18s linear infinite;
}

@keyframes animName {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main-container {
    margin: 75px 100px;
}

.category-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* animated hover effect on button  */

.hoverEffect {
    transition: all 0.3s ease-in-out;
}

.hoverEffect:Hover {
    background: #CEAB5C;
    /* background: #85302b; */
}

/* --------- end -------- */

/* team  */

.teamCard {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px 0;
}

/* testimonial  */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* --- footer ---  */

/* .footerBottom {
    border-bottom: 1px solid #AE633F;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.footerBottom ul li {
    padding: 2px 0;
} */

/* --------- footer video -----  */

.video-background {
    position: relative;
    width: 100%;
    height: 65%;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #c1c1c1cc; */
    background: #f6efe0e8;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: #0b0b0b;
    text-align: center;
    padding: 40px 100px;
}

/* --- Reiki Healing Workshop page ----  */

.sub-pages {
    /* background-image: url('/static/assets/images/blue-bg\ 2.jpg'); */
    /* background-position: center center;
    background-size: cover;
    height: 510px; */
}

.subImage {
    max-width: 240px;
}

.image-box-one,
.image-box-two,
.image-box-three,
.image-box-four,
.image-box-five,
.image-box-six,
.image-box-seven {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #AE633F !important;
}

.image-box-one::before,
.image-box-two::before,
.image-box-three::before,
.image-box-four::before,
.image-box-five::before,
.image-box-six::before,
.image-box-seven::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.image-box-one.active::before {
    background-image: url('/static/assets/images/Foundations\ of\ Reiki.jpg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-two.active::before {
    background-image: url('/static/assets/images/Chakra\ Alignment.jpeg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-three.active::before {
    background-image: url('/static/assets/images/Hands-on\ Practice.jpg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-four.active::before {
    background-image: url('/static/assets/images/Self-Healing\ Techniques.jpeg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-five.active::before {
    background-image: url('/static/assets/images/Healing\ Others.jpg');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-six.active::before {
    background-image: url('https://images.pexels.com/photos/1314133/pexels-photo-1314133.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-seven.active::before {
    background-image: url('https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    opacity: 0.3;
    border-radius: 25px;
}

.image-box-one:hover::before,
.image-box-two:hover::before,
.image-box-three:hover::before,
.image-box-four:hover::before,
.image-box-five:hover::before,
.image-box-six:hover::before,
.image-box-seven:hover::before {
    opacity: 0.3;
}

.image-box-one h1,
.image-box-one p,
.image-box-two h1,
.image-box-two p,
.image-box-three h1,
.image-box-three p,
.image-box-four h1,
.image-box-four p,
.image-box-five h1,
.image-box-five p,
.image-box-six h1,
.image-box-six p,
.image-box-seven h1,
.image-box-seven p {
    position: relative;
    z-index: 1;
    color: #4F3E17;
}

.image-box-one p,
.image-box-two p,
.image-box-three p,
.image-box-four p,
.image-box-five p,
.image-box-six p,
.image-box-seven p {
    color: #282727;
}

.image-box-one.active p,
.image-box-two.active p,
.image-box-three.active p,
.image-box-four.active p,
.image-box-five.active p,
.image-box-six.active p,
.image-box-seven.active p {
    /* color: #fff; */
}

.reiki-form input,
.reiki-form select,
.reiki-form textarea {
    border: #bcbcbc solid 1px;
    width: 100%;
    height: 40px;
    background: transparent;
    margin-top: 5px;
    border-radius: 10px;
    padding: 0 10px;
    color: white;
}

/* .reiki-form input::placeholder,
.reiki-form select::placeholder,
.reiki-form textarea::placeholder {
    color: #424242;
} */
.reiki-form input::placeholder,
.reiki-form select::placeholder,
.reiki-form textarea::placeholder {
    color: #fff;
    font-size: 14px;
}

.reiki-form input:focus,
.reiki-form select:focus,
.reiki-form textarea:focus {
    outline: none;
}

.reiki-form textarea {
    height: 155px;
}

/* ---- kundli page -----  */

.submit_btn {
    background: #AE633F !important;
    cursor: pointer;
    color: white;
}

/* Responsive work  */


@media (max-width:868px) {

    .astrological-image {
        max-width: 60% !important;
    }

    /* .Nav-section {
        padding: 0 15px;
    } */

    .mini-nav {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .main-container {
        margin: 40px 15px;
    }

    .category-cart {
        top: 0;
    }

    .video-background {
        height: 100% !important;
    }

    .content {
        padding: 20px 20px !important;
    }

    /* reiki healing workshop page  */

    .sub-pages {
        height: 560px !important;
    }



}


@media (min-width:320px) and (max-width: 425px) {
    .hero-section {
        height: 670px;
    }

    .benefit-img {
        height: 1050px !important;
    }

    .subImage {
        max-width: 180px;
    }
}

@media (min-width:320px) and (max-width: 375px) {

    .subImage {
        max-width: 145px;
    }

    .benefit-img {
        height: 1050px !important;
    }
}

@media (min-width:425px) and (max-width: 598px) {
    .subImage {
        max-width: 204px;
    }
}

@media (min-width:375px) and (max-width: 598px) {

    .hero-section {
        height: 695px;
    }

    .benefit-img {
        height: 920px !important;
    }


}

@media (min-width:600px) and (max-width: 768px) {

    .benefit-img {
        height: 760px !important;
    }
}

@media (min-width:768px) and (max-width: 1023px) {

    .hero-section {
        height: 701px;
    }

    .astrological-image {
        max-width: 40% !important;
    }


    .sub-pages {
        height: 565px;
    }

    .benefit-img {
        height: 530px !important;
    }
}

@media (min-width:1024px) and (max-width: 1200px) {

    .main-container {
        margin: 30px 30px;
    }

}


@media only screen and (min-width: 1820px) {
    .hero-head {
        top: 340px !important;
    }

    .hero-section {
        height: 900px;
    }

    .image-contact,
    .image-reiki,
    .kundli-hero {
        height: 650px;
    }

    .subHeader {
        top: 475px !important;
    }

    .subHeaderContact {
        top: 240px !important;
    }

    .subHeader h1,
    .subHeaderContact h1 {
        font-size: 60px !important;
    }

    .astroheroimage {
        top: -140% !important;
    }

    .nav-top {
        width: 25% !important;
    }

    .loginBtn {
        width: 6% !important;
    }
}

@media only screen and (min-width: 2250px) {
    .astroheroimage {
        top: -195% !important;
    }
    .personalised-banner{
        height: 800px !important;
        justify-content: center;
    }
}


/* -------- New Design Landing page For only testing -------  */

.gradientBtn {
    background-image: linear-gradient(to right top, #ae633f, #b87444,
            #c1864a, #c89852, #ceab5c);
    transition: all 0.5s;
}

.gradient-text {
    /* background: linear-gradient(to right top, #ae633f, #b87444, #c1864a,
            #c89852, #ceab5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-weight: 900;
    color: #ffff89;
}

.gradient-text-2 {
    background: linear-gradient(to right top, #ae633f, #b87444, #c1864a,
            #c89852, #ceab5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}

.ServicesBG {
    /* background: linear-gradient(to right top, #ae633f, #b87444, #c1864a, #c89852, #ceab5c); */
    background-image: linear-gradient(to right top, #ce9378, #d4a07c, #d8ad82,
            #dcba88, #dec791);
}

.service-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg) brightness(102%) contrast(102%);
}

.serviceCard {
    box-shadow: 0 2px 30px rgba(23, 15, 73, .1);
    /* border-radius: 75px 4px 4px 4px; */
    border-radius: 40px;
}

.rotate-icon {
    transform: rotate(45deg);
    /* Rotate by 45 degrees */
}

.rotate-icon img {
    transform: rotate(-45deg);
}

.lineBelow {
    border-top: 2px solid #5cb8d8;
    margin-bottom: 10px;
    border-radius: 15px;
}

.swiper-slide {
    background: transparent !important;
}

/* buy kundli button animation  */

.btn {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
}

.btn--snakeBorder {
    background-image: linear-gradient(to right top, #ae633f, #b87444, #c1864a,
            #c89852, #ceab5c);
    overflow: hidden;
    font-weight: 600;
    font-size: 14px;
}

.btn--snakeBorder::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
}

.btn--snakeBorder span {
    position: absolute;
}

.btn--snakeBorder span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right top, #eb1c24, #f22887, #c367d3, #6f92f4, #01acea);
    animation: borderAnimation1 2s linear infinite;
}

@keyframes borderAnimation1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.btn--snakeBorder span:nth-child(2) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to right top, #eb1c24, #f22887, #c367d3, #6f92f4, #01acea);
    animation: borderAnimation2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes borderAnimation2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.btn--snakeBorder span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right top, #eb1c24, #f22887, #c367d3, #6f92f4, #01acea);
    animation: borderAnimation3 2s linear infinite;
}

@keyframes borderAnimation3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.btn--snakeBorder span:nth-child(4) {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: borderAnimation4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes borderAnimation4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.graph-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(281deg) brightness(101%) contrast(103%);
}

.process-step::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 45px;
    background-color: #ffff89;
}

.cardkundliInfo {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #42c4ff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 0px 0px #42c4ff;
}


/* ----- faqs ---------  */

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #CEAB5C;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    /* color: #7288a2; */
    color: #fff;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: var(--Tertiary-colors);
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: var(--Tertiary-colors);
    border: 1px solid #CEAB5C;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    font-family: "Philosopher", sans-serif !important;
    font-weight: 700;
    font-size: 19px;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #CEAB5C;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 600ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 600ms linear, max-height 600ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5em 0;
    color: white;
    line-height: 28px;
}


@media (max-width:868px) {

    .astrological-image {
        max-width: 100% !important;
    }

    .hero-section,
    .kundli-hero {
        height: 510px;
    }

    .btn {
        padding: 10px 12px;
        font-size: 12px;
    }

    .accordion button .accordion-title {
        font-size: 18px;
    }

    .accordion .accordion-content p {
        font-size: 15px;
        margin: 1em 0;
    }
}

/* new reiki page  */

.meditationBox {
    /* background-image: linear-gradient(to right top, #efefef, #c3bfd4, #9a91b8,
            #74649c, #4e3a7f); */
    background-image: linear-gradient(to right top, #b698e3, #9b7fc9,
            #8167b0, #675097, #4e3a7f);
    padding: 0px 15px 0px 0;
}

.meditationBox img {
    border-radius: 5px 0 0 5px;
}

.custom-dropdown {
    position: relative;
    cursor: pointer;
}

.custom-dropdown .selected {
    border: #bcbcbc solid 1px;
    width: 100%;
    height: 40px;
    background: transparent;
    margin-top: 5px;
    border-radius: 10px;
    padding: 0 10px;
    color: white;
    display: flex;
    align-items: center;
}

.custom-dropdown .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #694CA7;
    border: 1px solid #694CA7;
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.custom-dropdown.open .options {
    display: block;
}

.custom-dropdown .options li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.custom-dropdown .options li:hover {
    background: #532F89;
}