/* red - #eb1c24  */
/* skyblue - #00adef  */
/* black - #231f20  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.formContainer {
    padding: 80px 120px;
    background-image: url("/static/assets/images/Astology.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rowMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.colLeft {
    width: 42%;

    /* height: 650px; */
    /* padding: 50px; */

    display: flex;
    align-items: center;
}

.contentBG {
    background: white;
    padding: 35px;
    border-radius: 15px 0 0 15px;

}

.contentBG img {
    max-width: 120px;
}

.contentBG h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
    margin: 25px 0;
    color: rgb(206, 171, 92);
}

.contentBG p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: rgb(69, 57, 31);
    line-height: 28px;
}

.contentpara {
    margin-top: 10px;
}

.colRight {
    width: 58%;
}

/* ----- form ----  */

.form {
    position: relative;
    width: 100%;
    padding: 35px;
    border-radius: 15px;

    /* background: rgb(255 255 255 / 95%); */
    background-color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.formHead {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formHead img {
    max-width: 81px;
}

.formHead h2 {
    color: rgb(206, 171, 92);

    letter-spacing: 1px;
    margin: 25px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
}

.formHead p {
    color: rgb(69, 57, 31);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

.dataBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.inputBx {
    position: relative;
    width: 49%;
    margin-bottom: 20px;
}

.formLabel {
    margin-bottom: 6px;
}

.formLabel label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: rgb(206 171 92 / 89%);
}

.inputBx input {
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid rgb(25 22 22 / 20%);
    background: rgba(255, 255, 255, 0.2);
    padding: 11px 10px;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.inputBx input[type="submit"] {
    background: #fff;
    color: #231f20;
    max-width: 240px;
    padding: 12px 10px;
    box-shadow: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .7s;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

.inputBx input[type="submit"]:hover {
    background: #ae633f;
    color: #fff;
    transition: .7s;
}

input::placeholder {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.formBtn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* @media (min-width:320px) and (max-width: 374px) {
    .container {
        width: 240px;
        padding: 30px;
    }

    .formContainer {
        padding: 30px;
    }
}

@media (min-width:375px) and (max-width: 424px) {
    .container {
        width: 280px;
        padding: 30px;
    }
}

@media (min-width:425px) and (max-width: 767px) {
    .container {
        width: 325px;
        padding: 30px;
    }
}


@media (max-width:868px) {} */