/* red - #eb1c24  */
/* skyblue - #00adef  */
/* black - #231f20  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

h5,
h6 {
    font-weight: 500;
}

p,
a,
button,
input,
label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

/* .formContainer {
    padding: 80px 120px;
    background-image: url("/static/assets/images/Astology.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.rowMain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.colLeft {
    width: 42%;

    /* height: 650px; */
    /* padding: 50px; */

    display: flex;
    align-items: center;
}

.contentBG {
    background: white;
    padding-right: 35px;
    border-radius: 15px 0 0 15px;

}

.contentBG img {
    max-width: 120px;
}

.contentBG h1 {
    font-size: 25px;
    margin: 25px 0;
    color: rgb(206, 171, 92);
}

.contentBG p {
    font-size: 16px;
    color: rgb(69, 57, 31);
    line-height: 28px;
}

.contentpara {
    margin-top: 10px;
}

.colRight {
    width: 58%;
}

/* ----- form ----  */


/* review page */

.reviewSec {
    background-image: url("/static/assets/images/pattern.jpg");
    padding: 40px 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviewMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    border: 1px solid #ffff89;
    border-radius: 15px;
    padding: 40px;
}


.inputContainer {
    border: 1px solid #ffff89;
    padding: 1.5rem;
    border-radius: 15px;
}


.radioBtn {
    display: flex;
    justify-content: space-between;
}

.radioData {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* checkbox input  */


.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainCheckbox {
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input[type="checkbox"]:checked+.checkbox__checkmark {
    background-color: #007bff;
    /* Change color when checked */
}

.checkbox input:checked~.checkbox__checkmark:after {
    opacity: 1;
}

input[type="checkbox"] {
    display: none;
    /* Hide the default checkbox */
}


.checkbox .checkbox__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 4px;
}

.checkbox .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
}


/* -----  */






.radioData h6 {
    color: rgb(234 88 12);
    font-size: 15px;
    margin-top: 5px;
}

.radioData input[type="radio"] {
    border: 1px solid red;
}

.priceContainer h5 {
    font-size: 17px;
    color: #fff;
}

.priceContainer h5 strike {
    margin-right: 15px;
    color: #ffc3c3 !important;
}

.reviewDetails {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #ffff89;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.reviewCard {
    width: 44%;
}

.reviewCardTwo {
    width: 53%;
}

.reviewSubD {
    background-image: linear-gradient(to right top, #b698e3, #9b7fc9, #8167b0, #675097, #4e3a7f);
    padding: 25px;
    color: white;
    border-radius: 15px;
}

.reviewD h2 {
    font-size: 17px;
    border-bottom: 1px solid #ffff89;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.reviewS {
    margin-top: 25px;
}

.reviewSubD h5 {
    font-size: 18px;
}

.reviewDate {
    display: flex;
    margin: 15px 0;
}

.reviewDate h6 {
    margin-right: 25px;
}

.reviewSubD h6 {
    font-size: 17px;
    display: flex;
}

.reviewSubD h6 img {
    width: 18px;
    margin-right: 6px;
}

.getContainer {
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
}

.getContent {
    width: 48%;
}

.getContent ul li {
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

.formDetails input {
    width: 100%;
    height: 40px;
    background: transparent;
    margin-top: 5px;
    border-radius: 10px;
    padding: 0 10px;
    color: white;
    border: #bcbcbc solid 1px;
}

.formDetails input:focus {
    outline: none;
}

.formDetails input::placeholder {
    color: white;
    font-size: 14px;
}

.pForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.EmailDetails {
    margin-bottom: 25px;
    width: 48%;
}

.EmailDetails input {
    margin-top: 15px;
}


/* result page  */

.resultSec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    background: #f1f1f1;
}

.resultContent {
    border: 1px solid #ffff89;
    max-width: 900px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.resultContent img {
    width: 85px;
}

.resultContent h2 {
    font-size: 22px;
    margin: 20px 0;
}

.resultContent p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.resultContent button img {
    max-width: 32px;
    padding-right: 8px;
}

.resultContent button {
    display: flex;
    align-items: center;
    padding: 12px 50px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .7s;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin: 20px 0;
    background: #ae633f;
    color: white;
    border-radius: 10px;
}

/* ------- Responsive work --------  */

@media (max-width:868px) {

    .reviewSec {
        padding: 25px 0;
    }

    .rowMain {
        display: block;
    }

    .formContainer {
        padding: 15px;
    }

    .colLeft {
        width: 100%;
    }

    .contentBG {
        padding: 20px;
        border-radius: 15px 15px 0 0;
    }

    .contentBG h1 {
        font-size: 22px;
    }

    .contentBG p {
        font-size: 15px;
    }

    .colRight {
        width: 100%;
    }

    .form {
        padding: 15px;
        border-radius: 0 0 15px 15px;
    }

    .formHead h2 {
        font-size: 22px;
        margin: 0 0 15px 0;
    }

    .formHead p {
        font-size: 16px;
    }

    .dataBox {
        display: block;
        margin: 0;
    }

    .inputFirst {
        margin-top: 25px;
    }

    .formLabel {
        margin-bottom: 8px;
    }

    .inputBx {
        width: 100%;
        margin-bottom: 25px;
    }

    .formLabel label {
        font-size: 16px;
    }

    .inputBx input,
    .inputBx select {
        padding-left: 10px;
        font-size: 15px;
    }

    .inputBx input[type="submit"] {
        max-width: 150px;
        font-size: 15px;
    }


    /* payment page  */


    .inputContainer {
        padding: 0.8rem;
    }



    .labels label,
    .radioBtn h2 {
        font-size: 16px;
    }

    .labels {
        margin-left: 10px;

    }

    .radioData h6 {
        font-size: 14px;
    }

    .priceContainer h5 {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }

    .priceContainer h5 strike {
        margin: 0;
        margin-bottom: 5px;
    }

    .reviewDetails {
        display: block;
    }

    .reviewCard,
    .reviewCardTwo {
        width: 100%;
    }

    .reviewSubD {
        padding: 15px;
        margin-bottom: 15px;
    }

    .reviewSubD h5 {
        font-size: 17px;
    }

    .reviewSubD h6 {
        font-size: 16px;
    }

    .reviewD h2 {
        font-size: 18px;
    }

    .getContent ul li {
        font-size: 15px;
    }

    .reviewDetails {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .pForm {
        display: block;
    }

    .EmailDetails {
        width: 100%;
    }

    .EmailDetails input {
        font-size: 15px;
    }


    .reviewMain {
        width: 100%;
        padding: 20px 10px;
    }

    .reviewDate {
        display: block;
        margin: 0;
    }

    .getContainer {
        padding: 0px;
        display: block;
    }

    .getContent {
        width: 100%;
    }

    .reviewSubD h5,
    .reviewDate h6 {
        margin-bottom: 5px;
    }



    /* result page  */

    .resultSec {
        padding: 0 15px;
    }

    .resultContent {
        padding: 20px;
    }


    .resultContent img {
        width: 75px;
    }

    .resultContent h2 {
        font-size: 20px;
    }

    .resultContent p {
        font-size: 15px;
    }


}

@media (min-width:320px) and (max-width: 374px) {

    .container {
        width: 240px;
        padding: 30px;
    }
}

@media (min-width:375px) and (max-width: 424px) {
    .container {
        width: 280px;
        padding: 30px;
    }
}

@media (min-width:425px) and (max-width: 767px) {
    .container {
        width: 325px;
        padding: 30px;
    }
}


@media (min-width:869px) and (max-width: 1100px) {

    .formContainer {
        padding: 100px 40px;
    }

    .contentBG {
        padding: 25px;
    }

    .form {
        padding: 25px;
    }

    .inputBx input,
    .inputBx select {
        padding-left: 10px;
    }

    .reviewContainer {
        background: #fff;
        padding: 3rem;
        width: 80%;
        border-radius: 10px;
    }

    /* payment page  */

    .reviewContainer {
        width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .formContainer {
        padding: 115px 40px;
    }
}


@media (min-width: 1600px) {
    .formContainer {
        padding: 120px 60px;
    }
}