{% extends 'base.html'%}
{% load static %}
<!-- {% block hero-image %} kundli-hero {% endblock hero-image %} -->
{% block main-content %}

<!-- ------- Hero section ------  -->

<!-- <section class="w-full bg-center bg-cover bg-no-repeat flex
             items-center justify-center flex-col relative">

    <div class="w-[80%] text-center absolute top-[90px]">
        <h1 class="font-bold text-[45px] text-[#fff] leading-[42px]">
            <strong class="text-[#ffff89]">
        </h1>
    </div>
</section> -->

</header>

<section class="flex items-center flex-col justify-center mt-[20px]  lg:my-[60px]">
    <div>
        <img src="/static/assets/images/profile_astromapping.jpg" alt="profile astromapping" class="w-[450px] h-auto lg:h-[601px] object-cover rounded-[10px]">
    </div>
</section>

<!-- Social icons  -->

<div class="mobileviewSocial">
    <ul class="flex items-center flex-col">
        <li class="toggleIcon"><i class="fa-solid fa-plus"></i></li>

        <li class="whatsapp hiddenn">
            <a href="https://wa.link/xtl382" target="_blank">
                <img src="/static/assets/icons/What's app.png" alt="What'sapp">
            </a>
        </li>
        <li class="instagram hiddenn">
            <a href="https://www.instagram.com/shivcosmicenergysolutions" target="_blank">
                <img src="/static/assets/icons/instagram.png" alt="instagram">
            </a>
        </li>
        <li class="facebook hiddenn">
            <a href="https://www.facebook.com/shivcosmicenergysolutions" target="_blank">
                <img src="/static/assets/icons/facebook.png" alt="facebook">
            </a>
        </li>
        <li class="youtube hiddenn m-0">
            <a href="https://www.youtube.com/channel/UCvM4OYpE1TArbmlIZFgBB7g?view_as=subscriber" target="_blank">
                <img src="/static/assets/icons/youtube.png" alt="youtube">
            </a>
        </li>
    </ul>
</div>

<!-- Form  -->

<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]
                      flex flex-col items-center" style="background-image: url('/static/assets/images/q.jpg');">

    <div class="w-full flex items-center flex-col">
        <h1 class="font-bold text-[32px] lg:text-[35px] text-[#fff] leading-[38px] text-center mb-[20px] lg:mb-[40px]">
            Fill Out Your Details to Unlock Your
            <strong class="gradient-text"> Personalized Life Insights</strong>
        </h1>
    </div>

    <div class="category-card md:w-[70%] w-full md:flex justify-between
         z-10 border-[#CEAB5C] border xl:p-[60px] p-[20px]
         border-solid rounded-[15px]">

        <form method="post" class="reiki-form w-full">
            {% csrf_token %}
            <div class="w-full md:flex justify-between">

                <div class="md:w-[49%]">
                    <div>
                        <label for="name" class="text-[#fff]">Your Name</label>
                    </div>
                    <div>
                        <input type="text" id="name" placeholder="YOUR NAME" name="name" autocomplete="off" required>
                    </div>
                </div>

                <div class="md:w-[49%] mt-[10px] lg:m-0">
                    <div>
                        <label for="gender" class="text-[#fff]">Gender</label>
                    </div>

                    <div>
                        <select id="gender" name="gender" required>
                            <option value="" disabled selected>Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="w-full md:flex justify-between lg:my-[20px]">

                <div class="md:w-[32%] mt-[10px] lg:m-0">
                    <div>
                        <label for="day" class="text-[#fff]">Day</label>
                    </div>

                    <select id="day" name="day" required>
                        <option value="" disabled selected class="optionLabel">DD</option>
                        {% for day in days %}
                        <option data-value="{{ day }}">{{ day }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="md:w-[32%] mt-[10px] lg:m-0">
                    <div>
                        <label for="month" class="text-[#fff]">Month</label>
                    </div>

                    <div>
                        <select id="month" name="month" required>
                            <option value="" disabled selected>MM</option>
                            {% for month in months %}
                            <option value="{{ month }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="md:w-[32%] mt-[10px] lg:m-0">
                    <div>
                        <label for="year" class="text-[#fff]">Year</label>
                    </div>

                    <div>
                        <select id="year" name="year" required>
                            <option value="" disabled selected>YYYY</option>
                            {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>


                </div>

            </div>

            <div class="w-full md:flex justify-between">

                <div class="md:w-[49%] mt-[10px] lg:m-0" id="hourDiv">
                    <div>
                        <label for="hour" class="text-[#fff]">Hour</label>
                    </div>

                    <div>
                        <select id="hour" name="hour" required>
                            <option value="" disabled selected>HH</option>
                            {% for hour in hours %}
                            <option value="{{ hour }}">{{ hour }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="md:w-[49%] mt-[10px] lg:m-0" id="minDiv">
                    <div>
                        <label for="min" class="text-[#fff]">Minutes</label>
                    </div>

                    <div>
                        <select id="min" name="min" required>
                            <option value="" disabled selected>MM</option>
                            {% for minute in minutes %}
                            <option value="{{ minute }}">{{ minute }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

            </div>

            <div class="w-full md:flex justify-between lg:my-[20px]">

                <div class="md:w-[49%] mt-[10px] lg:m-0">
                    <div>
                        <label for="language" class="text-[#fff]">Kundali / Horoscope language</label>
                    </div>

                    <div>
                        <select id="language" name="language" required>
                            <option value="" disabled selected>Language</option>
                            <option value="en">English</option>
                            <option value="hi">हिंदी</option>
                            <option value="ma">मराठी</option>
                        </select>
                    </div>

                </div>

                <div class="md:w-[49%] mt-[10px] lg:m-0" id="placeDiv">
                    <div>
                        <label for="place" class="text-[#fff]">Birth Place</label>
                    </div>
                    <div>
                        <input type="text" id="place" name="place" placeholder="BIRTH PLACE" required>
                        <input type="hidden" id="tzone" name="tzone" required>
                        <input type="hidden" id="lat" name="lat">
                        <input type="hidden" id="lon" name="lon">
                    </div>
                </div>

            </div>

            <div class="md:flex justify-end gap-[20px]">
                <!-- <div class="mt-[20px] w-[100%] lg:w-[20%]">
                    <input class="submit_btn" type="submit" value="Buy Basic Kundali">
                </div> -->
                <div class="mt-[20px] w-[100%] lg:w-[20%]">
                    <input class="submit_btn" type="submit" onclick="localStorage.setItem('selectedPlan', 'Astromapping')" value="Buy Now">
                </div>
            </div>

        </form>
    </div>

</section>

<script>
    //  Social icons toggle button open / close 

    document.addEventListener("DOMContentLoaded", function () {
        const toggleIcon = document.querySelector(".toggleIcon");
        const socialIcons = document.querySelectorAll(".mobileviewSocial ul li:not(.toggleIcon)");
        const toggleIconSymbol = toggleIcon.querySelector("i");

        toggleIcon.addEventListener("click", () => {
            socialIcons.forEach(icon => {
                icon.classList.toggle("visible");
            });

            // Toggle the "+" and "-" icon
            if (toggleIconSymbol.classList.contains("fa-plus")) {
                toggleIconSymbol.classList.replace("fa-plus", "fa-minus");
            } else {
                toggleIconSymbol.classList.replace("fa-minus", "fa-plus");
            }
        });
    });
</script>

{% endblock main-content %}