{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiv-Cosmic</title>

    <link rel="shortcut icon" href="/static/assets/images/Logo/favicon.png" type="image/x-icon">

    <!-- Preload custom CSS files to prioritize loading -->
    <link rel="preload" href="{% static 'css/style.css' %}" as="style">
    <link rel="preload" href="{% static 'css/Landing page css/style.css' %}" as="style">

    <!-- Main Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'css/Landing page css/style.css' %}" media="print" onload="this.media='all'">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- font-awesome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <!-- Philosopher & Roboto font Link -->
    <link
        href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- swiper link  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw4lWm5g4yYzLaV1wB8pygAzx5Gq-MDo0&libraries=places"
        defer></script>

    <script>
        function initAutocomplete() {
            const input = document.getElementById('place');
            const autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function () {
                const place = autocomplete.getPlace();
                if (!place.geometry) {
                    input.value = '';
                    return;
                }

                const lat = place.geometry.location.lat();
                const lon = place.geometry.location.lng();

                document.getElementById('lat').value = lat;
                document.getElementById('lon').value = lon;

                fetchTimezone(lat, lon);
            });
        }

        function fetchTimezone(lat, lon) {
            const timestamp = Math.floor(Date.now() / 1000); // current time in seconds since epoch
            const timezoneApiUrl = `https://maps.googleapis.com/maps/api/timezone/json?location=${lat},${lon}&timestamp=${timestamp}&key=AIzaSyAw4lWm5g4yYzLaV1wB8pygAzx5Gq-MDo0`;

            fetch(timezoneApiUrl)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'OK') {
                        const tzone = data.rawOffset / 3600 + data.dstOffset / 3600; // converting offset from seconds to hours
                        document.getElementById('tzone').value = tzone;
                    } else {
                        console.error('Error fetching timezone:', data);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        document.addEventListener("DOMContentLoaded", function () {
            initAutocomplete();

            // Prevent form submission with Enter key
            document.querySelector('form').addEventListener('keydown', function (event) {
                if (event.key === 'Enter' && event.target.id === 'place') {
                    event.preventDefault();
                }
            });

            // Ensure form submission after place selection
            document.querySelector('form').addEventListener('submit', function (event) {
                const placeInput = document.getElementById('place');
                const lat = document.getElementById('lat').value;
                const lon = document.getElementById('lon').value;

                if (!placeInput.value || !lat || !lon) {
                    event.preventDefault();
                    alert("Please select a valid place.");
                }
            });
        });
    </script>
    
</head>

<body>

    <!-- Nav and Hero section  -->

    <header class="Nav-section hero-section {% block hero-image %}{% endblock hero-image %} relative">

        <!-- Navigation  -->

        <nav class="w-full pt-[10px] md:flex items-center justify-between">
            <div class="lg:w-[10%] hidden md:flex justify-between items-center">
                <a href="{% url 'home' %}">
                    <img class="lg:w-[100%] md:max-w-[105px]"
                        src="/static/assets/images/Logo/shiv cosmic logo w.png" alt="logo" loading="lazy">
                </a>
            </div>

            <!-- contact info  -->

            <div class="md:w-[82%]">

                <div class="w-full mini-nav  md:flex">

                    <!-- <div class="w-full md:flex lg:pt-[20px] justify-end">

                    <div class="nav-top lg:w-[25%] md:w-[42%] flex items-center gap-[10px]">
                        <div class="w-[14%]">
                            <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F] rounded-[50%] text-white
                        flex items-center justify-center">
                                <i class="far fa-comment-dots text-[17px] lg:text-[19px]"></i>
                            </div>
                        </div>
                        <div class="w-[90%]">
                            <span class="text-[#fff] text-[14px] lg:text-[15px]"> AstroTalk -</span>
                            <span class="text-[#fff] text-[14px] lg:text-[15px]">+(91) 9175932752</span>
                        </div>
                    </div>

                    <div class="nav-top lg:w-[33%] md:w-[54%] flex items-center md:justify-end gap-[10px] my-[10px] lg:m-0">
                        <div class="w-[11%]">
                            <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F] rounded-[50%] text-white
                            flex items-center justify-center">
                                <i class="fa-solid fa-envelope text-[17px] lg:text-[19px]"></i>
                            </div>
                        </div>
                        <div class="">
                            <span class="text-[#fff] text-[14px] lg:text-[15px]"> AstroHelp -</span>
                            <span class="text-[#fff] text-[14px] lg:text-[15px]">info.nhmcpune@gmail.com</span>
                        </div>
                    </div>
                </div> -->

                </div>

                <div class="flex">

                    <div class="w-full flex justify-between items-center flex-row-reverse">

                        <div class="w-[40%] lg:w-[100%] flex justify-end z-[9999]">
                            <div class="text-3xl cursor-pointer mx-2 md:hidden block" onclick="Menu(this)">
                                <i class="fas fa-bars text-[#CEAB5C]"></i>
                            </div>
                        </div>

                        <!-- mobile view logo  -->

                        <div class="flex justify-center md:hidden">
                            <a href="">
                                <img class="max-w-[85px] lg:max-w-[105px]"
                                    src="/static/assets/images/Logo/shiv cosmic logo w.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>

                <ul class="md:flex md:items-center md:z-auto md:static absolute w-full left-0
                            md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500 text-white
                             bg-[#ae633f] md:bg-inherit justify-end z-[99999]">

                    <li class="ml-4 my-4 md:my-0 z-[999]">
                        <a href="{% url 'home' %}" class="text-[16px] hover:text-cyan-500 duration-500">Home</a>
                    </li>
                    <li class="ml-4 my-4 md:my-0 z-[999]">
                        <a href="{% url 'reikhihealing' %}"
                            class="text-[16px] hover:text-cyan-500 duration-500">Reiki
                            Healing Workshop</a>
                    </li>
                    <li class="ml-4 my-4 md:my-0 z-[999]">
                        <a href="#" class="text-[16px] hover:text-cyan-500 duration-500">Blog</a>
                    </li>
                    <li class="ml-4 my-4 md:my-0 z-[999]">
                        <a href="#" class="text-[16px] hover:text-cyan-500 duration-500">Testimonial</a>
                    </li>
                    <li class="ml-4 my-4 md:my-0 z-[999]">
                        <a href="{% url 'contact' %}"
                            class="text-[16px] hover:text-cyan-500 duration-500">Contact</a>
                    </li>

                    <!-- Close Icon Inside the List -->
                    <li class="w-[35px] h-[35px] bg-[#CEAB5C] rounded-[50%] flex items-center
                 justify-center absolute top-0 right-0 mt-4 mr-4 cursor-pointer md:hidden">
                        <i class="fa-solid fa-x text-[15px]" onclick="closeMenu()"></i>
                    </li>

                </ul>
            </div>
        </nav>

        {% block main-content %}

        {% endblock main-content %}

        <!-- new footer  -->

        <!-- <section class="bg-[#242323] lg:py-[60px] lg:px-[30px] xl:px-[100px] px-[25px] py-[20px]">

            <div class="w-full text-white md:flex justify-between footerBottom">
                <div class="md:w-[24%] ">
                    <img src="/static/assets/images/Logo/logo.png" alt="">
                    <p class="mt-[5px]">Empowering lives through the wisdom of astrology and Vastu. Connect with Shiv
                        Cosmic
                        Energy Solutions
                        for personalized guidance towards harmony, health, and prosperity.
                    </p>
                </div>

                <div class="md:w-[24%] my-[15px]">
                    <h1 class="text-[#CEAB5C] text-[21px] mb-[5px]">Quick Links</h1>
                    <ul>
                        <li><a href="{% url 'policy' %}">Privacy Policy </a></li>
                        <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                        <li><a href="{% url 'return' %}">Refund & Cancellation Policy </a></li>
                    </ul>
                </div>

                <div class="md:w-[24%]">
                    <h1 class="text-[#CEAB5C] text-[21px] mb-[5px]">Contact Information</h1>
                    <ul>
                        <li>Email: info.nhmcpune@gmail.com</li>
                        <li>Whatsapp: 9175932752</li>
                    </ul>
                </div>
                <div class="md:w-[24%] mt-[15px]">
                    <h1 class="text-[#CEAB5C] text-[21px] mb-[5px]">Follow us</h1>
                    <div>
                        <a href="https://www.instagram.com/shivcosmicenergysolutions/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/nhmcpune" class="mx-[10px]" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCvM4OYpE1TArbmlIZFgBB7g?view_as=subscriber"
                            target="_blank">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="text-white">
                <h1 class="text-[#CEAB5C] text-[19px] mb-[5px]">We Do NOT Believe In "Get Rich Quick Programs"..</h1>
                <p>We believe in hard and smart work, adding value and dedication to reach your goals. It's a fact that
                    one
                    that does not do hard work will see no results whatsoever. The remedies and suggestions given in
                    this
                    report may help you move towards achieving your goals. You will get no results whatsoever if you
                    assume
                    by reading up information and reading the report your life will change with riches. Your results are
                    based on your actions. We never undertake any responsibility for any results. All suggestions and
                    information provided herein are in good faith, to the best of our knowledge, and based on the birth
                    details (date, time, and place) provided by you and successful outcomes in the past.</p>
            </div>
        </section> -->

        <section>
            <div class="video-background">
                <video autoplay muted loop playsinline>
                    <source src="/static/assets/videos/zodiac astrology video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="overlay"></div>

                <div class="content flex items-center justify-center flex-col">
                    <div class="w-full flex flex-col justify-center items-center footerBottom">

                        <div class="w-full lg:w-[80%] md:flex justify-between">

                            <div class="text-start md:w-[28%] my-[15px] flex flex-col justify-center">
                                <h1 class="text-[#4F3E17] font-bold text-[21px] mb-[5px]">Quick Links</h1>
                                <ul>
                                    <li><a href="{% url 'policy' %}">Privacy Policy </a></li>
                                    <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                                    <li><a href="{% url 'return' %}">Refund & Cancellation Policy </a></li>
                                </ul>
                            </div>

                            <div class="md:w-[34%] md:flex flex-col items-center">
                                <img src="/static/assets/images/Logo/logo.png" alt="">
                                <p class="my-[10px] text-justify">Empowering lives through the wisdom of astrology and
                                    Vastu.
                                    Connect with
                                    Shiv
                                    Cosmic
                                    Energy Solutions
                                    for personalized guidance towards harmony, health, and prosperity.
                                </p>

                                <div class="my-4 flex items-start lg:block">
                                    <a href="https://www.instagram.com/shivcosmicenergysolutions/" target="_blank">
                                        <i class="fa-brands fa-instagram text-[19px]"></i>
                                    </a>
                                    <a href="https://www.facebook.com/nhmcpune" class="mx-[10px]" target="_blank">
                                        <i class="fa-brands fa-facebook-f text-[19px]"></i>
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCvM4OYpE1TArbmlIZFgBB7g?view_as=subscriber"
                                        target="_blank">
                                        <i class="fa-brands fa-youtube text-[19px]"></i>
                                    </a>
                                </div>
                            </div>


                            <div class="md:w-[32%] text-start flex flex-col justify-center lg:pl-[60px] pb-[15px]">
                                <h1 class="text-[#4F3E17] font-bold text-[21px] mb-[5px]">Contact Information</h1>
                                <ul>
                                    <li>Email: info.nhmcpune@gmail.com</li>
                                    <li>Whatsapp: +(91) 9175932752</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="">
                        <h1 class="text-[#4F3E17] text-start md:text-center font-bold text-[19px] mb-[10px]">We Do NOT Believe In "Get Rich Quick
                            Programs"..</h1>
                        <p>We believe in hard and smart work, adding value and dedication to reach your goals. It's a
                            fact that
                            one
                            that does not do hard work will see no results whatsoever. The remedies and suggestions
                            given in
                            this
                            report may help you move towards achieving your goals. You will get no results whatsoever if
                            you
                            assume
                            by reading up information and reading the report your life will change with riches. Your
                            results are
                            based on your actions. We never undertake any responsibility for any results. All
                            suggestions and
                            information provided herein are in good faith, to the best of our knowledge, and based on
                            the birth
                            details (date, time, and place) provided by you and successful outcomes in the past.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <script src="/static/javascript/main.js" defer></script>
        <script src="/static/javascript/app.js"></script>

</body>

</html>