{% extends 'base.html'%}
{% load static %}
{% block hero-image %} sub-pages {% endblock hero-image %}
{% block main-content %}

<!-- Hero section  -->
<section class="mt-[30px]">
    <div class="w-full flex justify-between flex-col-reverse lg:flex-row">

        <div class="w-full lg:w-[50%] flex flex-col justify-center mt-[20px]">

            <h1 class="text-[#ffd169] md:text-[45px] text-[30px]
                             text-center lg:text-left">Contact Us</h1>

            <div class="text-center lg:text-left">
                <a href="#" class="text-[#ff8e57]">Home </a>
                <span class="text-[#2FAFE3]"> - </span>
                <span class="text-[#ffd169]">Contact Us</span>
            </div>
        </div>

        <div class="w-full lg:w-[48%] flex justify-center items-center relative">
            <img src="/static/assets/images/Frame (11).png" alt="" class="astrological-image max-w-[44%]">
        </div>
    </div>
</section>
</header>

<!-- Form and address  -->
<section class="main-container flex items-center justify-center relative xl:h-[590px]
         xl:h-auto bg-cover bg-center bg-no-repeat">

    <div class="md:w-[47%] absolute md:left-[25%] left-0 inset-0 opacity-25 bg-cover bg-center bg-no-repeat"
        style="background-image: url('/static/assets/images/img_1.png');">
    </div>

    <div
        class="category-card md:w-[100%] md:flex justify-between relative z-10 border-[#CEAB5C] border xl:p-[60px] p-[20px] border-solid rounded-[15px]">

        <div class="md:w-[52%]">

            <form action="" class="reiki-form w-full">
                <div>
                    <label for="name">Name</label>
                    <input type="text" placeholder="Enter your Name">
                </div>
                <div class="my-[20px]">
                    <label for="name">Email</label>
                    <input type="text" placeholder="Enter your Name">
                </div>
                <div>
                    <label for="name">Message</label>
                    <textarea name="" id="" placeholder="Enter your Message"></textarea>

                </div>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LcPftUpAAAAAFn_tCyqIOY-wknp3FxAl3vJexUo"></div>
                <div class="mt-[20px]">
                    <button type="submit" class="w-full bg-[#AE633F] text-[#fff] py-[10px]
                        rounded-[10px]">Send Message</button>
                </div>
            </form>

        </div>

        <div class="w-[1%] border-l-[#CEAB5C] border-l border-solid"></div>
        <div class="md:w-[40%]">

            <h1 class="text-[#AE633F] font-bold text-[25px] mb-[15px] leading-[31px] mt-[20px]">Natural Healing and Meditation
                Center
                Pune
                Book an Appointment for Readings and Consultations</h1>

            <div>
                <h1 class="text-[#4F3E17] font-bold text-[20px] mb-[5px]">Visit Us At Our Location</h1>
                <p>Wagholi, Pune, Maharashtra, India</p>
            </div>

            <div class="my-[15px]">
                <div class="mb-[5px]">
                    <h1 class="text-[#4F3E17] font-bold text-[20px] mb-[5px]">Mobile </h1>
                    <p>+(91) 9175932752</p>
                </div>
                <div>
                    <h1 class="text-[#4F3E17] font-bold text-[20px] mb-[5px]">Email</h1>
                    <p> info.nhmcpune@gmail.com</p>
                </div>
            </div>

            <div>
                <h1 class="text-[#4F3E17] font-bold text-[20px] mb-[5px]">Connect With Us </h1>
                <div>
                    <a href="https://www.instagram.com/shivcosmicenergysolutions/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/nhmcpune" class="mx-[10px]" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCvM4OYpE1TArbmlIZFgBB7g?view_as=subscriber"
                        target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- map  -->
 
<section class="main-container">
    <div class="w-full flex items-center justify-center">
        <div class="w-[85%]">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30256.03564113212!2d73.95876815407868!3d18.573837881898054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c3819fdef877%3A0xd4193e985f354be0!2sWagholi%2C%20Pune%2C%20Maharashtra%20412207!5e0!3m2!1sen!2sin!4v1726309503984!5m2!1sen!2sin"
                width="100%" height="450" style="border:0; border-radius: 15px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

{% endblock main-content %}