{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astrology Data Form</title>

  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>



  <section class="formContainer">

    <div class="rowMain">

      <div class="colLeft">
        <div class="contentBG">
          <img src="/static/assets/icons/App icon.png" alt="logo" loading="lazy">
          <h1>Shiv Cosmic Energy Solutions</h1>
          <p>Shiv Cosmic Energy Solutions is a company that is devoted to helping people achieve a harmonious and
            fulfilled life by providing personalized solutions based on the ancient wisdom of astrology and Vastu
            Shastra. The company believes that everyone's birth chart holds the key to understanding their unique energy
            patterns and potential. By aligning with these cosmic energies, one can unlock paths to success, health, and
            happiness.</p>

            <p class="contentpara">At Shiv Cosmic Energy Solutions, they offer comprehensive consultations where they analyze your birth chart and align it with Vastu principles to provide tailored solutions for various aspects of your life, including health, wealth, and relationships.</p>
        </div>
      </div>


      <div class="colRight">

        <div class="form">

          <div class="formHead">

            <h2>Enter Your Birth Details</h2>
            <p>Please fill out the information below.</p>
          </div>

          <form method="post">
            {% csrf_token %}


            <div class="dataBox">

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Name</label>
                </div>
                <div>
                  <input type="text" id="name" name="name" autocomplete="off" required>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Gender</label>
                </div>
                <div>
                  <input type="text" id="gender" name="gender" required>
                </div>
              </div>

            </div>


            <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Day</label>
                </div>
                <div>
                  <input type="number" id="day" name="day" required>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Month</label>
                </div>
                <div>
                  <input type="number" id="month" name="month" required>
                </div>
              </div>
            </div>


            <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel" class="formLabel">
                  <label for="#">Year</label>
                </div>
                <div>
                  <input type="number" id="year" name="year" required>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel" class="formLabel">
                  <label for="#">Hour</label>
                </div>
                <div>
                  <input type="number" id="hour" name="hour" required>
                </div>
              </div>
            </div>


            <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Min</label>
                </div>

                <div>
                  <input type="number" id="min" name="min" required>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Latitude</label>
                </div>
                <div>
                  <input type="number" id="lat" name="lat" step="any" required>
                </div>
              </div>
            </div>


            <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Longitude</label>
                </div>

                <div>
                  <input type="number" id="lon" name="lon" step="any" required>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Language</label>
                </div>
                <div>
                  <input type="text" id="language" name="language" required>
                </div>
              </div>
            </div>




            <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Timezone</label>
                </div>
                <div>
                  <input type="number" id="tzone" name="tzone" step="any" required>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Birth Place</label>
                </div>
                <div>
                  <input type="text" id="place" name="place" required>
                </div>
              </div>

            </div>

            <div class="inputBx formBtn">
              <input type="submit" value="Submit">
            </div>

          </form>

        </div>


      </div>

    </div>
  </section>



  <!-- old commit commited code  -->




</body>

</html>