{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astrology Data Form</title>

  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw4lWm5g4yYzLaV1wB8pygAzx5Gq-MDo0&libraries=places"></script>

  <script>
    function initAutocomplete() {
        const input = document.getElementById('place');
        const autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener('place_changed', function() {
            const place = autocomplete.getPlace();
            if (!place.geometry) {
                input.value = '';
                return;
            }

            const lat = place.geometry.location.lat();
            const lon = place.geometry.location.lng();

            document.getElementById('lat').value = lat;
            document.getElementById('lon').value = lon;

            fetchTimezone(lat, lon);
        });
    }

    function fetchTimezone(lat, lon) {
        const timestamp = Math.floor(Date.now() / 1000); // current time in seconds since epoch
        const timezoneApiUrl = `https://maps.googleapis.com/maps/api/timezone/json?location=${lat},${lon}&timestamp=${timestamp}&key=AIzaSyAw4lWm5g4yYzLaV1wB8pygAzx5Gq-MDo0`;

        fetch(timezoneApiUrl)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'OK') {
                    const tzone = data.rawOffset / 3600 + data.dstOffset / 3600; // converting offset from seconds to hours
                    document.getElementById('tzone').value = tzone;
                } else {
                    console.error('Error fetching timezone:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.addEventListener("DOMContentLoaded", function() {
        initAutocomplete();
    });
</script>

</head>

<body>

  <section class="formContainer">

    <div class="rowMain">

      <div class="colLeft">
        <div class="contentBG">
          <img src="/static/assets/icons/App icon.png" alt="logo" loading="lazy">
          <h1>Shiv Cosmic Energy Solutions</h1>
          <p>Shiv Cosmic Energy Solutions is a company that is devoted to helping people achieve a harmonious and
            fulfilled life by providing personalized solutions based on the ancient wisdom of astrology and Vastu
            Shastra. The company believes that everyone's birth chart holds the key to understanding their unique energy
            patterns and potential. By aligning with these cosmic energies, one can unlock paths to success, health, and
            happiness.</p>

            <p class="contentpara">At Shiv Cosmic Energy Solutions, they offer comprehensive consultations where they analyze your birth chart and align it with Vastu principles to provide tailored solutions for various aspects of your life, including health, wealth, and relationships.</p>
        </div>
      </div>


      <div class="colRight">

        <div class="form">

          <div class="formHead">

            <h2>Enter Your Birth Details</h2>
            <p>Please fill out the information below.</p>
          </div>

          <form method="post">
            {% csrf_token %}


            <div class="dataBox">

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Name</label>
                </div>
                <div>
                  <input type="text" id="name" name="name" autocomplete="off" required>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Gender</label>
                </div>
                <div>
                  <select id="gender" name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                  </select>
                </div>
              </div>

            </div>


            <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Day</label>
                </div>
                <div>
                  <select id="day" name="day" required>
                    {% for day in days %}
                        <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Month</label>
                </div>
                <div>
                  <select id="month" name="month" required>
                    {% for month in months %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="inputBx">
                <div class="formLabel" class="formLabel">
                  <label for="#">Year</label>
                </div>
                <div>
                  <select id="year" name="year" required>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>


            <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel" class="formLabel">
                  <label for="#">Hour</label>
                </div>
                <div>
                  <select id="hour" name="hour" required>
                    {% for hour in hours %}
                        <option value="{{ hour }}">{{ hour }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Minutes</label>
                </div>

                <div>
                  <select id="min" name="min" required>
                    {% for minute in minutes %}
                        <option value="{{ minute }}">{{ minute }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>


            <!-- <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Longitude</label>
                </div>

                <div>
                  <input type="number" id="lon" name="lon" step="any" required>
                </div>
              </div>              

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Latitude</label>
                </div>
                <div>
                  <input type="number" id="lat" name="lat" step="any" required>
                </div>
              </div>
            </div> -->


            <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Language</label>
                </div>
                <div>
                  <input type="text" id="language" name="language" required>
                </div>
              </div>

              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Birth Place</label>
                </div>
                <div>
                  <input type="text" id="place" name="place" required>
                  <input type="hidden" id="tzone" name="tzone" step="any" required>
                  <input type="hidden" id="lat" name="lat">
                  <input type="hidden" id="lon" name="lon">

                </div>
              </div>
            </div>




            <!-- <div class="dataBox">
              <div class="inputBx">
                <div class="formLabel">
                  <label for="#">Timezone</label>
                </div>
                <div>
                  <input type="number" id="tzone" name="tzone" step="any" required>
                </div>
              </div>
            </div> -->

            <div class="inputBx formBtn">
              <input type="submit" value="Submit">
            </div>

          </form>

        </div>


      </div>

    </div>
  </section>

</body>

</html>