{% extends 'base.html'%}
{% load static %}
{% block hero-image %} image-home {% endblock hero-image %}
{% block main-content %}

<!-- Hero section  -->

<section class="w-full overflow-hidden flex items-center justify-center">
    <div
        class="w-full absolute top-[17%] md:top-[-50%] lg:top-[-52%] xl:top-[-100%] left-0 overflow-hidden astroheroimage">
        <img src="/static/assets/images/Group Test.png" alt="" class="w-full opacity-[0.1] astrological-image ">
    </div>

    <div class="md:w-[70%] absolute top-[180px] lg:top-[250px] hero-head">

        <div class="w-full flex flex-col justify-center items-center">

            <h1 class="text-[#fdfdfd] text-[32px] lg:text-[76px] text-center font-bold 
                         leading-[36px] lg:leading-[74px]">Welcome to Shiv Cosmic <br> Energy Solutions</h1>

            <p class="md:my-[40px] my-[15px] text-[#fdfdfd] text-[16px] md:text-[20px] text-center  px-[15px]">
                Unlock your true potential
                with personalized astrology and Vastu solutions. Align with cosmic energies for a
                harmonious,
                prosperous, and fulfilled life. Discover your path to success.
            </p>

            <!-- <a href="#" class="flex justify-center lg:block">
                        <button class="hoverEffect bg-[#CEAB5C] text-[#fff] py-[5px] px-[25px]
                                rounded-[10px]">Read more</button>
                    </a> -->

        </div>
    </div>
</section>

</header>

<!-- fixed button  -->

<section>
    <div class="md:w-[22%] lg:w-[13%]  rounded-tl-[10px] rounded-tr-[10px]
         flex items-center justify-end bg-center bg-cover bg-no-repeat fixed bottom-[55px] 
         right-[-45px] md:right-[40px] z-[100]">
        <a href="{% url 'kundali' %}">
            <button class="btn btn-rotate btn--snakeBorder">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Get Your Kundli
            </button>
        </a>
    </div>
</section>

<!-- Buy kundli  -->

<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
    style="background-image: url('/static/assets/images/q.jpg');">

    <div class="w-full md:flex justify-between">

        <div class="md:w-[48%]">
            <img src="/static/assets/images/kundliref.png" alt="" class="rounded-[15px] w-full">
        </div>

        <div class="md:w-[48%] flex flex-col justify-center">
            <h1
                class="text-[32px] leading-[35px] lg:text-[42px] lg:eading-[48px] text-center md:text-left mt-[15px] xl:m-0 gradient-text">
                Make your dreams come true</h1>

            <p class="text-[#fff] text-[16px] lg:text-[17px] mt-[15px] text-center md:text-left">Discover
                Solutions through Expert Online Janam
                Kundli
                Analysis Report!</p>

            <p class="my-[15px] text-[15px] lg:text-[16px] text-[#fff] text-justify lg:text-start">The main
                purpose with which one’s
                janam Kundli report is developed
                and sent
                online
                via mail is to
                examine your life’s past, present, and future predictions by studying your birth chart, planets,
                DOB
                Analysis and houses.</p>

            <p class="text-[#fff] text-[15px] lg:text-[16px] text-justify lg:text-start">Our Vedic expert
                kundali report finds solutions
                to all love, career, marriage
                & business more
                related
                problems.</p>

            <a href="{% url 'horoscopeform' %}" class="flex justify-center md:block mt-[15px]">
                <button class="hoverEffect gradientBtn text-[#fff] py-[7px] px-[35px]
                                rounded-[10px]">Buy Kundli</button>
            </a>

        </div>
    </div>
</section>

<!-- Our Services  -->
<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
    style="background-image: url('/static/assets/images/shiv-cosmic\ \ Purple-bg.jpg');">

    <div class="text-center mb-[30px] lg:mb-[45px]">
        <h1 class="font-bold text-[32px] lg:text-[38px] text-[#ffff89]">Our Services</h1>
    </div>

    <div class="w-full md:flex justify-between mt-[50px] lg:m-0">

        <div class="md:w-[24%] bg-white p-[20px] relative serviceCard ">
            <a href="{% url 'kundali' %}">
                <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                    <img src="/static/assets/icons/parchment.png" alt="" class="service-icon max-w-[45px]">
                </div>

                <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]">Kundli</h1>
                <div class="lineBelow"></div>
                <p class="text-center text-[15px] lg:text-[16px]">Kundli is a Vedic astrology chart that maps
                    planetary positions at birth,
                    offering insights into personality, life events, and future predictions.</p>
            </a>

        </div>

        <!-- <div class="md:w-[24%] bg-white p-[20px] relative serviceCard">

            <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                <img src="/static/assets/icons/cardinal-points.png" alt="" class="service-icon max-w-[45px]">
            </div>

            <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]">Vastu</h1>
            <div class="lineBelow"></div>
            <p class="text-center text-[15px] lg:text-[16px]">Vastu Shastra offers ancient architectural
                guidance to create harmonious
                living spaces by balancing natural energies, promoting well-being, prosperity, and positive
                energy flow in homes.</p>
        </div> -->
        
        <div class="md:w-[24%] bg-white p-[20px] relative serviceCard my-[50px] lg:m-0">

            <a href="{% url 'numerology' %}">
                <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                    <img src="/static/assets/icons/numerology (1).png" alt="" class="service-icon max-w-[45px]">
                </div>
    
                <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]">Numerology</h1>
                <div class="lineBelow"></div>
                <p class="text-center text-[15px] lg:text-[16px]">Numerology deciphers hidden meanings in numbers, names, and dates, unveiling personality traits, strengths, challenges, and life patterns for self-discovery and personal growth.</p>
            </a>
      
        </div>

        <div class="md:w-[24%] bg-white p-[20px] relative serviceCard mb-[50px] lg:m-0">

            <a href="{% url 'astro_mapping' %}">
                <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                    <img src="/static/assets/icons/planet.png" alt="" class="service-icon max-w-[45px]">
                </div>
    
                <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]"> Astro mapping</h1>
                <div class="lineBelow"></div>
                <p class="text-center text-[15px] lg:text-[16px]">Astro-numerology blends astrology and numerology
                    to analyze planetary
                    influences and numbers, offering deeper insights into personality, life path, and future
                    possibilities.</p>
            </a>
       
        </div>

        <div class="md:w-[24%] bg-white p-[20px] relative serviceCard">

            <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                <img src="/static/assets/icons/consulting.png" alt="" class="service-icon max-w-[45px]">
            </div>

            <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]">Training Consultation</h1>
            <div class="lineBelow"></div>
            <p class="text-center text-[15px] lg:text-[16px]">Empower individuals and businesses with expert-led energy
                training, enhancing efficiency, sustainability, and compliance through customized programs and practical
                learning.</p>
        </div>

    </div>
</section>

<!-- Cosmic Energy  -->
<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
    style="background-image: url('/static/assets/images/q.jpg');">

    <div class="w-full flex justify-between flex-col-reverse md:flex-row">

        <div class="md:w-[49%] flex flex-col justify-center">
            <h1 class="text-[30px] lg:text-[36px] gradient-text mt-[15px] md:m-0">Cosmic Chart Analysis</h1>

            <p class="my-5 text-[15px] lg:text-[17px] text-[#fff]">Unlock the secrets of your birth chart and
                gain a deeper
                understanding of your personality, strengths, and challenges with our comprehensive birth
                chart analysis.</p>

            <p class="text-[15px] lg:text-[17px] text-[#fff]">​Get personalized solutions for various aspects of
                your life,
                including
                health, wealth, and relationships, to achieve your goals and live a fulfilling life.</p>

            <p class="mt-5 text-[16px] lg:text-[17px] text-[#fff]">Fees: Rs.11,000/- <br> (Per Chart / Kundali)
            </p>
        </div>

        <div class="md:w-[49%]">
            <div class="">
                <img src="/static/assets/images/ekaterina.jpg" alt=""
                    class="w-full h-auto lg:h-[395px]  object-cover rounded-[5px]">
            </div>
        </div>
    </div>

    <div class="w-full md:flex justify-between mt-[20px]">
        <div class="md:w-[49%]">
            <div class="">
                <img src="/static/assets/images/gabby.jpg" alt=""
                    class="w-full h-auto lg:h-[395px]  object-cover rounded-[5px]">
            </div>
        </div>
        <div class="md:w-[49%] flex flex-col justify-center">
            <div class="pl-0 lg:pl-[20px]">
                <h1 class="text-[30px] lg:text-[36px] gradient-text mt-[15px] md:m-0 leading-[35px]">Cosmic
                    Vastu Energy
                    Alignment </h1>

                <p class="my-5 text-[15px] lg:text-[17px] text-[#fff]">Harmonize your living or working space
                    with the cosmic
                    energies of
                    Vastu Shastra. Our expert consultants will align your environment according to your birth
                    chart, promoting prosperity, health, and positive relationships.</p>

                <p class="text-[16px] lg:text-[17px] text-[#fff]">Fees: Rs.25,000/-
                    <br>
                    (Residential Vaastu up to 1000 Sq/Ft)
                </p>

                <p class="mt-5 text-[16px] lg:text-[17px] text-[#fff]">Fees: Rs.1,51,000/-
                    <br>
                    (Industrial Vaastu up to 1,00,000 Sq./Ft)

                    ​
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial  -->
<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
    style="background-image: url('/static/assets/images/shiv-cosmic\ \ Purple-bg.jpg');">
    <div class="text-center mb-[30px] lg:mb-[45px]">
        <h1 class="font-bold text-[32px] lg:text-[38px] gradient-text">
            More Positive Feedback from our Clients</h1>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t1.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t2.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t3.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t4.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t5.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t6.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t8.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t9.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
            <div class="swiper-slide">
                <div>
                    <img src="/static/assets/images/Tesimonials/t11.jpg" alt="" class="rounded-[10px]">
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Team  -->
<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]
flex items-center justify-center flex-col" style="background-image: url('/static/assets/images/q.jpg');">

    <div class="text-center mb-[30px] lg:mb-[45px]">
        <h1 class="font-bold text-[38px] gradient-text">We Are</h1>
    </div>

    <div class="md:w-[80%] border-[#CEAB5C] border-2 borer-solid rounded-[10px] p-[15px] lg:p-[35px]">

        <div class="w-full md:flex justify-between">

            <div class="w-[100%] mb-[30px] md:mb-0">

                <div class="flex flex-col items-center">
                    <h1 class="text-[24px] lg:text-[28px] font-bold gradient-text mt-[15px] lg:mt-0 mb-[3px]">Dr.
                        Shivsharan
                        Manshetti</h1>
                    <h5 class="text-[16px] lg:text-[18px] text-[#fff] md:mt-[10px]">Founder of Shiv-Cosmic Energy
                        solutions</h5>
                </div>

                <p class="text-[15px] lg:text-[17px] my-[20px] text-[#fff] text-center">Discover a realm of healing and
                    celestial wisdom
                    under the
                    guidance of Dr. Shivsharan
                    Manshetti, an award-winning Energy, Vastu Shastra, and Astrology expert. With a profound
                    understanding of energy problems and their solutions, he has earned recognition as the Best
                    in his field.</p>

                <p class="text-[15px] lg:text-[17px] text-[#fff] text-center">he have intuitive abilities enable him to
                    delve into the
                    intricacies of
                    energy imbalances,
                    both within individuals and their living spaces. Through Vastu Shastra and Energy Healing,
                    he offers effective solutions to restore positive energy flow and remove obstacles.</p>
            </div>
        </div>

        <!-- Team Member 2 -->

        <!-- <div class="w-full flex justify-between flex-col-reverse md:flex-row">

            <div class="md:w-[48%] flex flex-col justify-center">
                <h1 class="text-[24px] lg:text-[28px] font-bold gradient-text mt-[15px] lg:mt-0 mb-[3px]"> Swati
                    Manshetti</h1>
                <h5 class="text-[16px] lg:text-[18px] text-[#fff]">Award-Winning Energy Healer and Astrologer
                </h5>

                <p class="text-[15px] lg:text-[17px] my-[20px] text-[#fff]">Welcome to a realm of healing and
                    enlightenment,
                    where your
                    well-being takes precedence. I am Swati Manshetti, an acclaimed Energy Healer and
                    Astrologer, committed to helping individuals overcome challenges and realize their full
                    potential.</p>

                <p class="text-[15px] lg:text-[17px] text-[#fff]">Recognized as the Best Energy Healer and
                    Astrologer, I take
                    pride in the
                    transformative results experienced by my clients. With deep expertise, I offer personalized
                    solutions through intuitive insight and extensive knowledge of healing techniques, guiding
                    you on a journey of self-discovery and healing.</p>
            </div>

            <div class="md:w-[48%] mb-[15px] lg:mb-0">
                <img src="/static/assets/images/Shivcosmic Founder 1.jpg" alt="Swati_Manshetti"
                    class="w-full h-auto lg:h-[450px] 2xl:h-auto object-cover rounded-[10px]" loading="lazy">
            </div>

        </div> -->

    </div>
</section>

</main>







{% endblock main-content %}