<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiv-cosmic </title>

    <!-- Main Custom CSS -->
    <link rel="stylesheet" href="/static/css/Landing page css/style.css" media="print" onload="this.media='all'">


    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- font-awesome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <!-- Philosopher & Roboto font Link -->
    <link
        href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- swiper link  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>

    <main class="mb-[80px]">

        <!-- Navigation and Hero section  -->
        <header class="Nav-section hero-section image-home relative">

            <!-- Navigation  -->

            <nav class="w-full pt-[10px] md:flex items-center justify-between">
                <div class="lg:w-[10%] hidden md:flex justify-between items-center">
                    <a href="{% url 'home' %}">
                        <img class="lg:w-[100%] md:max-w-[105px]"
                            src="/static/assets/images/Logo/shiv cosmic logo w.png" alt="logo" loading="lazy">
                    </a>
                </div>

                <!-- contact info  -->

                <div class="md:w-[82%]">

                    <div class="w-full mini-nav  md:flex">

                        <!-- <div class="w-full md:flex lg:pt-[20px] justify-end">

                        <div class="nav-top lg:w-[25%] md:w-[42%] flex items-center gap-[10px]">
                            <div class="w-[14%]">
                                <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F] rounded-[50%] text-white
                            flex items-center justify-center">
                                    <i class="far fa-comment-dots text-[17px] lg:text-[19px]"></i>
                                </div>
                            </div>
                            <div class="w-[90%]">
                                <span class="text-[#fff] text-[14px] lg:text-[15px]"> AstroTalk -</span>
                                <span class="text-[#fff] text-[14px] lg:text-[15px]">+(91) 9175932752</span>
                            </div>
                        </div>

                        <div class="nav-top lg:w-[33%] md:w-[54%] flex items-center md:justify-end gap-[10px] my-[10px] lg:m-0">
                            <div class="w-[11%]">
                                <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F] rounded-[50%] text-white
                                flex items-center justify-center">
                                    <i class="fa-solid fa-envelope text-[17px] lg:text-[19px]"></i>
                                </div>
                            </div>
                            <div class="">
                                <span class="text-[#fff] text-[14px] lg:text-[15px]"> AstroHelp -</span>
                                <span class="text-[#fff] text-[14px] lg:text-[15px]">info.nhmcpune@gmail.com</span>
                            </div>
                        </div>
                    </div> -->

                    </div>

                    <div class="flex">

                        <div class="w-full flex justify-between items-center flex-row-reverse">

                            <div class="w-[40%] lg:w-[100%] flex justify-end z-[9999]">
                                <div class="text-3xl cursor-pointer mx-2 md:hidden block" onclick="Menu(this)">
                                    <i class="fas fa-bars text-[#CEAB5C]"></i>
                                </div>
                            </div>

                            <!-- mobile view logo  -->

                            <div class="flex justify-center md:hidden">
                                <a href="">
                                    <img class="max-w-[85px] lg:max-w-[105px]"
                                        src="/static/assets/images/Logo/shiv cosmic logo w.png" alt="logo">
                                </a>
                            </div>
                        </div>
                    </div>

                    <ul class="md:flex md:items-center md:z-auto md:static absolute w-full left-0
                                md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500 text-white
                                 bg-[#ae633f] md:bg-inherit justify-end z-[99999]">

                        <li class="ml-4 my-4 md:my-0 z-[999]">
                            <a href="{% url 'home' %}" class="text-[16px] hover:text-cyan-500 duration-500">Home</a>
                        </li>
                        <li class="ml-4 my-4 md:my-0 z-[999]">
                            <a href="{% url 'reikhihealing' %}"
                                class="text-[16px] hover:text-cyan-500 duration-500">Reiki
                                Healing Workshop</a>
                        </li>
                        <li class="ml-4 my-4 md:my-0 z-[999]">
                            <a href="#" class="text-[16px] hover:text-cyan-500 duration-500">Blog</a>
                        </li>
                        <li class="ml-4 my-4 md:my-0 z-[999]">
                            <a href="#" class="text-[16px] hover:text-cyan-500 duration-500">Testimonial</a>
                        </li>
                        <li class="ml-4 my-4 md:my-0 z-[999]">
                            <a href="{% url 'contact' %}"
                                class="text-[16px] hover:text-cyan-500 duration-500">Contact</a>
                        </li>

                        <!-- Close Icon Inside the List -->
                        <li class="w-[35px] h-[35px] bg-[#CEAB5C] rounded-[50%] flex items-center
                     justify-center absolute top-0 right-0 mt-4 mr-4 cursor-pointer md:hidden">
                            <i class="fa-solid fa-x text-[15px]" onclick="closeMenu()"></i>
                        </li>

                    </ul>
                </div>
            </nav>

            <section class="w-full overflow-hidden flex items-center justify-center">
                <div class="w-full absolute top-[-14%] md:top-[-50%] lg:top-[-52%] xl:top-[-100%] left-0 overflow-hidden astroheroimage">
                    <img src="/static/assets/images/Group Test.png" alt=""
                        class="w-full opacity-[0.1] astrological-image ">
                </div>

                <div class="md:w-[70%] absolute top-[180px] lg:top-[250px]">
                    <div class="w-full flex flex-col justify-center items-center">

                        <h1 class="text-[#fdfdfd] text-[32px] lg:text-[76px] text-center font-bold 
                         leading-[36px] lg:leading-[74px]">Welcome to Shiv Cosmic <br> Energy Solutions</h1>

                        <p
                            class="md:my-[40px] my-[15px] text-[#fdfdfd] text-[16px] md:text-[20px] text-center  px-[15px]">
                            Unlock your true potential
                            with personalized astrology and Vastu solutions. Align with cosmic energies for a
                            harmonious,
                            prosperous, and fulfilled life. Discover your path to success.
                        </p>

                        <!-- <a href="#" class="flex justify-center lg:block">
                        <button class="hoverEffect bg-[#CEAB5C] text-[#fff] py-[5px] px-[25px]
                                rounded-[10px]">Read more</button>
                    </a> -->

                    </div>
                </div>
            </section>

        </header>

        <!-- fixed button  -->

        <section class="w-full fixed bottom-0 z-[100]">
            <div class="w-[100%] py-[10px] lg:py-[20px] rounded-tl-[10px] rounded-tr-[10px] flex items-center justify-center bg-center bg-cover bg-no-repeat"
                style="background-image: url('/static/assets/images/blue-bg\ 2.jpg');">
                <a href="#">
                    <button class="btn btn--snakeBorder">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Buy Your Personalized Kundli
                    </button>
                </a>
            </div>
        </section>

        <!-- Buy kundli  -->

        <section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
            style="background-image: url('/static/assets/images/q.jpg');">

            <div class="w-full md:flex justify-between">

                <div class="md:w-[48%]">
                    <img src="/static/assets/images/kundliref.png" alt="" class="rounded-[15px] w-full">
                </div>

                <div class="md:w-[48%] flex flex-col justify-center">
                    <h1
                        class="text-[35px] leading-[35px] lg:text-[42px] lg:eading-[48px] text-center md:text-left mt-[15px] xl:m-0 gradient-text">
                        Make your dreams come true</h1>

                    <p class="text-[#fff] text-[17px] lg:text-[18px] mt-[15px] text-center md:text-left">Discover
                        Solutions through Expert Online Janam
                        Kundli
                        Analysis Report!</p>

                    <p class="my-[15px] text-[#fff] text-justify lg:text-start">The main purpose with which one’s
                        janam Kundli report is developed
                        and sent
                        online
                        via mail is to
                        examine your life’s past, present, and future predictions by studying your birth chart, planets,
                        DOB
                        Analysis and houses.</p>

                    <p class="text-[#fff] text-justify lg:text-start">Our Vedic expert kundali report finds solutions
                        to all love, career, marriage
                        & business more
                        related
                        problems.</p>

                    <a href="#" class="flex justify-center md:block mt-[15px]">
                        <button class="hoverEffect bg-[#EBC3C1] text-[#222222] py-[5px] px-[25px]
                                rounded-[10px]">Buy Kundli</button>
                    </a>

                </div>
            </div>
        </section>

        <!-- Services  -->
        <section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
            style="background-image: url('/static/assets/images/shiv-cosmic\ \ Purple-bg.jpg');">

            <div class="text-center mb-[45px]">
                <h1 class="font-bold text-[32px] lg:text-[38px] text-[#fff]">Services</h1>
            </div>

            <div class="w-full md:flex justify-between mt-[50px] lg:m-0">

                <div class="md:w-[24%] bg-white p-[20px] relative serviceCard">

                    <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                        <img src="/static/assets/icons/cardinal-points.png" alt="" class="service-icon max-w-[45px]">
                    </div>

                    <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]">Vastu</h1>
                    <div class="lineBelow"></div>
                    <p class="text-center text-[15px] lg:text-[16px]">Vastu Shastra offers ancient architectural
                        guidance to create harmonious
                        living spaces by balancing natural energies, promoting well-being, prosperity, and positive
                        energy flow in homes.</p>
                </div>

                <div class="md:w-[24%] bg-white p-[20px] relative serviceCard my-[50px] lg:m-0">

                    <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                        <img src="/static/assets/icons/parchment.png" alt="" class="service-icon max-w-[45px]">
                    </div>

                    <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]">Kundli</h1>
                    <div class="lineBelow"></div>
                    <p class="text-center text-[15px] lg:text-[16px]">Kundli is a Vedic astrology chart that maps
                        planetary positions at birth,
                        offering insights into personality, life events, and future predictions.</p>
                </div>

                <div class="md:w-[24%] bg-white p-[20px] relative serviceCard mb-[50px] lg:m-0">

                    <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                        <img src="/static/assets/icons/numerology.png" alt="" class="service-icon max-w-[45px]">
                    </div>

                    <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]">Astro-numerology</h1>
                    <div class="lineBelow"></div>
                    <p class="text-center text-[15px] lg:text-[16px]">Astro-numerology blends astrology and numerology
                        to analyze planetary
                        influences and numbers, offering deeper insights into personality, life path, and future
                        possibilities.</p>
                </div>

                <div class="md:w-[24%] bg-white p-[20px] relative serviceCard">

                    <div class="absolute top-[-27px] left-[42%] bg-[#AE633F] p-[6px] rounded-[10px] rotate-icon">
                        <img src="/static/assets/icons/lotus-position.png" alt="" class="service-icon max-w-[45px]">
                    </div>

                    <h1 class="text-[22px] font-bold text-center mb-[10px] mt-[20px]">Reki & yoga</h1>
                    <div class="lineBelow"></div>
                    <p class="text-center text-[15px] lg:text-[16px]">Reiki and Yoga combine energy healing and physical
                        practice to promote
                        relaxation, mental clarity, and balance, enhancing overall well-being and spiritual growth.</p>
                </div>

            </div>
        </section>

        <!-- Cosmic Energy  -->
        <section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
            style="background-image: url('/static/assets/images/q.jpg');">

            <div class="w-full flex justify-between flex-col-reverse md:flex-row">

                <div class="md:w-[49%] flex flex-col justify-center">
                    <h1 class="text-[32px] lg:text-[40px] gradient-text mt-[15px] md:m-0">Cosmic Chart Analysis</h1>

                    <p class="my-3 text-[16px] lg:text-[17px] text-[#fff]">Unlock the secrets of your birth chart and
                        gain a deeper
                        understanding of your personality, strengths, and challenges with our comprehensive birth
                        chart analysis.</p>

                    <p class="text-[16px] lg:text-[17px] text-[#fff]">​Get personalized solutions for various aspects of
                        your life,
                        including
                        health, wealth, and relationships, to achieve your goals and live a fulfilling life.</p>

                    <p class="mt-3 text-[16px] lg:text-[17px] text-[#fff]">Fees: Rs.11,000/- <br> (Per Chart / Kundali)
                    </p>
                </div>

                <div class="md:w-[49%]">
                    <div class="">
                        <img src="/static/assets/images/ekaterina.jpg" alt="" class="rounded-[5px]">
                    </div>
                </div>
            </div>

            <div class="w-full md:flex justify-between mt-[20px]">
                <div class="md:w-[49%]">
                    <div class="">
                        <img src="/static/assets/images/gabby.jpg" alt="" class="rounded-[5px]">
                    </div>
                </div>
                <div class="md:w-[49%] flex flex-col justify-center">
                    <div class="pl-0 lg:pl-[20px]">
                        <h1 class="text-[32px] lg:text-[40px] gradient-text mt-[15px] md:m-0">Cosmic Vastu Energy
                            Alignment </h1>

                        <p class="my-3 text-[16px] lg:text-[17px] text-[#fff]">Harmonize your living or working space
                            with the cosmic
                            energies of
                            Vastu Shastra. Our expert consultants will align your environment according to your birth
                            chart, promoting prosperity, health, and positive relationships.</p>

                        <p class="text-[16px] lg:text-[17px] text-[#fff]">Fees: Rs.25,000/-
                            <br>
                            (Residential Vaastu up to 1000 Sq/Ft)
                        </p>

                        <p class="mt-3 text-[16px] lg:text-[17px] text-[#fff]">Fees: Rs.1,51,000/-
                            <br>
                            (Industrial Vaastu up to 1,00,000 Sq./Ft)

                            ​
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonial  -->
        <section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
            style="background-image: url('/static/assets/images/shiv-cosmic\ \ Purple-bg.jpg');">
            <div class="text-center mb-[45px]">
                <h1 class="font-bold text-[32px] lg:text-[38px] text-[#fff]">
                    More Positive Feedback from our Clients</h1>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t1.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t2.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t3.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t4.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t5.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t6.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t8.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t9.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <img src="/static/assets/images/Tesimonials/t11.jpg" alt="" class="rounded-[10px]">
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Team  -->
        <section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
            style="background-image: url('/static/assets/images/q.jpg');">

            <div class="text-center mb-[45px]">
                <h1 class="font-bold text-[38px] gradient-text">We are</h1>
            </div>

            <div class="border-[#CEAB5C] border-2 borer-solid rounded-[10px] p-[15px] lg:p-[40px]">

                <!-- Team Member 1 -->

                <div class="w-full md:flex justify-between">
                    <div class="md:w-[48%]">
                        <img src="/static/assets/images/Dr.Shivsharan.jpg" alt="Dr.Shivsharan"
                            class="w-full h-auto lg:h-[450px] 2xl:h-auto object-cover bg-[#0D1728] rounded-[10px]" loading="lazy">
                    </div>
                    <div class="md:w-[48%] flex flex-col justify-center mb-[30px] md:mb-0">
                        <h1 class="text-[25px] lg:text-[28px] font-bold gradient-text mt-[15px] lg:mt-0">Dr. Shivsharan
                            Manshetti</h1>
                        <h5 class="text-[17px] lg:text-[18px] text-[#fff]">Vastu Shastra and Astrologer</h5>

                        <p class="text-[16px] lg:text-[17px] my-[20px] text-[#fff]">Discover a realm of healing and
                            celestial wisdom
                            under the
                            guidance of Dr. Shivsharan
                            Manshetti, an award-winning Energy, Vastu Shastra, and Astrology expert. With a profound
                            understanding of energy problems and their solutions, he has earned recognition as the Best
                            in his field.</p>

                        <p class="text-[16px] lg:text-[17px] text-[#fff]">he have intuitive abilities enable him to
                            delve into the
                            intricacies of
                            energy imbalances,
                            both within individuals and their living spaces. Through Vastu Shastra and Energy Healing,
                            he offers effective solutions to restore positive energy flow and remove obstacles.</p>
                    </div>
                </div>

                <!-- Team Member 2 -->

                <div class="w-full md:flex justify-between">

                    <div class="md:w-[48%] flex flex-col justify-center">
                        <h1 class="text-[28px] font-bold gradient-text"> Swati Manshetti</h1>
                        <h5 class="text-[17px] lg:text-[18px] text-[#fff]">Award-Winning Energy Healer and Astrologer</h5>

                        <p class="text-[17px] my-[20px] text-[#fff]">Welcome to a realm of healing and enlightenment,
                            where your
                            well-being takes precedence. I am Swati Manshetti, an acclaimed Energy Healer and
                            Astrologer, committed to helping individuals overcome challenges and realize their full
                            potential.</p>

                        <p class="text-[17px] text-[#fff]">Recognized as the Best Energy Healer and Astrologer, I take
                            pride in the
                            transformative results experienced by my clients. With deep expertise, I offer personalized
                            solutions through intuitive insight and extensive knowledge of healing techniques, guiding
                            you on a journey of self-discovery and healing.</p>
                    </div>

                    <div class="md:w-[48%] mt-[15px] lg:mt-0">
                        <img src="/static/assets/images/Swati_Manshetti.jpg" alt="Swati_Manshetti"
                            class="w-full h-auto lg:h-[450px] 2xl:h-auto object-cover rounded-[10px]" loading="lazy">
                    </div>

                </div>

            </div>
        </section>

    </main>


    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 4,
            spaceBetween: 30,
            loop: true,

            breakpoints: {
                320: {
                    slidesPerView: 1,
                },
                768: {
                    slidesPerView: 2,
                },
                1024: {
                    slidesPerView: 4,
                },
            },

        });

    </script>


    <script src="/static/javascript/main.js"></script>
</body>

</html>