{% extends 'base.html'%}
{% load static %}
<!-- {% block hero-image %} personalised-banner {% endblock hero-image %} -->
{% block main-content %}

<!-- hero section  -->


<!-- <section class="bg-center bg-cover bg-no-repeat flex
             items-center flex-col relative">

    <div class="w-[80%] text-center absolute lg:top-[530px] top-[420px] md:top-[405px]
     subHeader kundliHeader">
        <h1 class="font-bold text-[38px] lg:text-[45px] text-[#fff] leading-[42px]">
            <strong class="text-[#ffff89]">Numerology Report</strong>
        </h1>
    </div>

</section> -->

</header>

<!-- Social icons  -->

<div class="mobileviewSocial">
    <ul class="flex items-center flex-col">
        <li class="toggleIcon"><i class="fa-solid fa-plus"></i></li>

        <li class="whatsapp hiddenn">
            <a href="https://wa.link/xtl382" target="_blank">
                <img src="/static/assets/icons/What's app.png" alt="What'sapp">
            </a>
        </li>
        <li class="instagram hiddenn">
            <a href="https://www.instagram.com/shivcosmicenergysolutions" target="_blank">
                <img src="/static/assets/icons/instagram.png" alt="instagram">
            </a>
        </li>
        <li class="facebook hiddenn">
            <a href="https://www.facebook.com/shivcosmicenergysolutions" target="_blank">
                <img src="/static/assets/icons/facebook.png" alt="facebook">
            </a>
        </li>
        <li class="youtube hiddenn m-0">
            <a href="https://www.youtube.com/channel/UCvM4OYpE1TArbmlIZFgBB7g?view_as=subscriber" target="_blank">
                <img src="/static/assets/icons/youtube.png" alt="youtube">
            </a>
        </li>
    </ul>
</div>

<!-- fixed button  -->

<section>
    <div
        class="md:w-[22%] lg:w-[26%] xl:w-[17%] rounded-tl-[10px] rounded-tr-[10px] flex items-center justify-end
     bg-center bg-cover bg-no-repeat fixed bottom-[70px] lg:bottom-[25px] xl:bottom-[30px] right-[-65px] md:right-[-45px] lg:right-[10px] xl:right-[40px] z-[100]">
        <a href="{% url 'horoscopeform' %}" onclick="localStorage.setItem('selectedPlan', 'Numerology')">
            <button class="btn btn-rotate btn--snakeBorder">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Buy Numerology Report
            </button>
        </a>
    </div>
</section>


<section class="flex items-center flex-col justify-center mt-[20px] lg:my-[60px] px-[15px] py-[25px]">

    <div class="">
        <img src="/static/assets/images/profile_numerology.jpg" alt="profile numerology" class="w-[450px] h-auto lg:h-[601px]  object-cover rounded-[10px]">
    </div>

    <div class="lg:w-[60%] flex flex-col justify-center mt-4 md:mt-8">

        <div class="md:flex justify-between md:mb-[15px]">
          
            <div class="md:w-[48%] flex items-center md:justify-end gap-[10px] mb-4 md:m-0">
                <i class="fa-solid fa-circle-check text-[22px] text-[#AE633F]"></i>
                <p class="text-[17px]">Unlock the Secrets of Your Numbers for Career, Love & Success</p>
            </div>
            <div class="md:w-[48%] flex items-center gap-[10px]">
                <i class="fa-solid fa-circle-check text-[22px] text-[#AE633F]"></i>
                <p class="text-[17px]">Accurate & Personalized Numerology Reports Based on Ancient Methods</p>
            </div>
        </div>

        <div class="flex items-center justify-center">
            <a href="{% url 'horoscopeform' %}" onclick="localStorage.setItem('selectedPlan', 'Numerology')"
                class="hidden lg:block">
                <button class="btn btn--snakeBorder m-0">
                    Get Your Numerology Report Now
                </button>
            </a>
        </div>

    </div>

</section>


<!-- About Numerology  -->

<!-- <section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
    style="background-image: url('/static/assets/images/shiv-cosmic\ \ Purple-bg.jpg');">

    <div class="w-full md:flex justify-between">
        <div class="w-[48%] hidden lg:block">
            <img src="/static/assets/images/numerlogy.jpg" alt="" class="w-full rounded-[15px]">
        </div>
        <div class="lg:w-[48%] flex flex-col justify-center">
            <p class="text-white text-justify">An ancient technique of deriving significance from various numbers,
                number
                combinations, letters, and
                symbols in your life. This art can assist us in tapping into the underlying patterns of the universe
                and revealing new truths about ourselves. Numerology explains the <strong class="text-[#ffff89]">
                    Significance of the numbers concealed in our birth name and birth date.
                </strong> </p>

            <p class="text-white my-[15px] text-justify">Numerology numbers are utilized to gain an understanding of a
                person's
                personality, strengths,
                vulnerabilities, emotions, abilities, aspirations, opportunities, difficulties, inner needs, and
                habits. Numerology <strong class="text-[#ffff89]">Reveals Information</strong> about our lives, our
                fate, and how we interact with others.
            </p>


            <a href="{% url 'horoscopeform' %}" onclick="localStorage.setItem('selectedPlan', 'Numerology')"
                class="hidden lg:block">
                <button class="btn btn--snakeBorder m-0">
                    Get Your Numerology Report Now
                </button>
            </a>

        </div>
    </div>


</section> -->

<!-- Why Numerology  -->

<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
    style="background-image: url('/static/assets/images/q.jpg');">

    <div class="w-full md:flex justify-between">

        <div class="md:w-[48%] bg-[#8765C4] p-[20px] lg:p-[40px] rounded-[15px] mb-[15px] md:m-0">
            <div class="text-center mb-[10px] lg:mb-[15px] ">
                <h1 class="font-bold text-[28px] lg:text-[32px] text-[#ffff89]">What is Numerology?</h1>
            </div>

            <p class="text-[#fff] text-justify">The word, “numerology,” is the science of numbers. The Numerology word
                comes from the Latin root,
                “numerus,” which means number and the Greek word, “logos,” which refers word or thought. These
                number-thoughts, or numerology is an ancient method of divination where numerical vibrations are
                charted in order to determine or predict the pattern of trends for the future.</p>
        </div>
        <div class="md:w-[48%] bg-[#8765C4] p-[20px] lg:p-[40px] rounded-[15px]">
            <div class="text-center mb-[1] lg:mb-[15px]">
                <h1 class="font-bold text-[28px] lg:text-[32px] text-[#ffff89]">Why Numerology?</h1>
            </div>

            <p class="text-[#fff] text-justify">Once you learn how to use numerology successfully and implement it in
                your
                daily life you will
                soon see how it can guide you on a path to personal fulfillment and enjoyment. Numerology can be
                used to find a compatible partner, choose a career, determine your destiny and allows for full
                advantage of lucky days, events and years.</p>
        </div>

</section>

<!-- How does Numerology Work?  -->
<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
    style="background-image: url('/static/assets/images/shiv-cosmic\ \ Purple-bg.jpg');">

    <div class="w-full md:flex justify-between">

        <div class="lg:w-[60%] flex flex-col justify-center">
            <div class=" mb-[10px] lg:mb-[15px] ">
                <h1 class="font-bold text-[28px] lg:text-[32px] text-[#ffff89]">How does Numerology Work?</h1>
            </div>

            <p class="text-white text-justify">Your ruling number can be calculated by <strong
                    class="text-[#ffff89]">Adding the
                    numbers</strong> from <a href="{% url 'horoscopeform' %}" class="underline-offset-1">your birth
                    date</a>. In other words, your ruling number is the sum of your birthdays. Your numerology
                number serves as a <strong class="text-[#ffff89]">
                    Road map for your life.
                </strong> </p>

            <p class="text-white my-[15px] text-justify">Using the Numerology Calculator, you can obtain detailed
                information
                about your parents, partner, children, health, career, and job. Numerology provides a mathematical
                formula that directs your <strong class="text-[#ffff89]">Karmic Pathway</strong> based on your date
                of birth and name. As you move forward in your life, the day of your birth indicates your chosen
                mission.
            </p>

            <p class="text-white mb-[15px] text-justify">A Free Numerology Report will tell you anything, from
                discovering facts
                about a person to learning
                about the world. Without a doubt, it is regarded as a universal language of numbers, and a <strong
                    class="text-[#ffff89]">Free Vedic Numerology Calculator</strong> can assist you in comprehending
                that language. Shiv Cosmic presents you with a complete numerology report of the Astro Numerology
                Calculator based on Vedic Principles, which allows us to better understand ourselves as individuals
                and the world.</p>

            <a href="{% url 'horoscopeform' %}" onclick="localStorage.setItem('selectedPlan', 'Numerology')"
                class="hidden lg:block">
                <button class="btn btn--snakeBorder m-0">
                    Get Your Free Numerology Report Now
                </button>
            </a>

        </div>
        <div class="w-[35%] hidden lg:block">
            <img src="/static/assets/images/numerology1.jpg" alt="" class="w-full rounded-[15px]">
        </div>
    </div>


</section>

<!-- Faqs  -->
<section class="bg-center bg-cover bg-no-repeat px-[15px] py-[25px] xl:px-[100px] xl:py-[60px]"
    style="background-image: url('/static/assets/images/shiv-cosmic\ \ Purple-bg.jpg');">

    <h1 class="font-bold text-[32px] lg:text-[35px] text-[#fff] leading-[38px] text-center mb-[40px]">FAQs about
        <strong class="gradient-text">Numerology </strong>
    </h1>

    <div class="w-full">

        <div class="accordion md:flex justify-between">

            <div class="md:w-[48%]">

                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">How to find numerology numbers?
                        </span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            The most straightforward way to begin working with numerology is to examine your date of
                            birth. Take the numerical value of your date of birth, add all the digits together by
                            category (year, month, day), and keep adding each digit until you reach a single digit.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">How does numerology work?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            The purpose of numerology is to discover the root number. Subtract digits until you get
                            to a single digit, excluding 11 and 22. This single digit represents your Life Path
                            Number. In astrology, your Life Path Number is similar to your Sun Sign: it reveals your
                            identity, including your strengths, weaknesses, talents, and ambitions.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">Which is the most powerful number in numerology?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p class="mb-[5px]">
                            According to numerology experts, the number 22 is the most powerful in numerology. Most
                            numerologists believe that the master numbers 11, 22, and 33 are the pinnacle of
                            numerology power. The three are thought to have the best chance of success. Remember
                            that all multi-digit numbers in numerology are always reduced to a single digit.
                        </p>

                        <p>If the numerology number obtained from a chart is 11, 22, or 33, you will not be able to
                            reduce it to a single digit because the three are master numbers, also known as the
                            triangle of enlightenment.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">What is an enemy number in numerology?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Numbers become hostile in numerology when they are in vibration with one another in
                            certain combinations. Each number has a friendly number, an enemy number, and a neutral
                            number. Avoid the enemy number because it is bad when it appears in a dangerous
                            combination. Using our Numerology Calculator, determine which number is your enemy's
                            number.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                        <span class="accordion-title">How do I find friendly numbers?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Numerology can be used to determine compatibility in a relationship between two people
                            who have different numbers. The friendly numbers are those where compatibility is strong
                            and fruitful. You can use our Numerology Calculator to find out which number is friendly
                            to yours.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                        <span class="accordion-title">Is numerology really effective?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Numerology can be helpful if you apply it to your daily life and live by it. Numbers are
                            all around you. It has the potential to lead to personal fulfillment and enjoyment. By
                            making a specific change in your life, you can reap all the benefits. You can make wiser
                            decisions and make more meaningful choices as a result.
                        </p>
                    </div>
                </div>



            </div>

            <div class="md:w-[48%]">
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                        <span class="accordion-title">Can numerology predict the future?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Numerology predicts what your future may hold. Numerologists use these nine digits
                            (0-9), as well as the date, time, and other relevant circumstances, to forecast one's
                            future events. You can expect to learn more about the paths available to you and your
                            destiny to take specific paths.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                        <span class="accordion-title">Which numerology is more accurate?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Each numerology system is unique, whether it's Pythagorean numerology or Chaldean
                            numerology. Chaldean is popular due to its accuracy. The algorithms and personalities of
                            Chaldean Numerology are distinct and one-of-a-kind. This system is based on the numbers
                            1 through 8.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                        <span class="accordion-title">Are there different types of numerology?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            There are different types of Numerology systems that exist, and people follow, like:
                        </p>

                        <ul>
                            <li> 1. Chaldean Numerology </li>
                            <li> 2. Kabbalah Numerology</li>
                            <li> 3. Tamil Numerology</li>
                            <li> 4. Western/Pythagorean Numerology</li>
                        </ul>
                        <p>Each style of Numerology has its own method of reading numbers and reaching conclusions.
                            Every Numerology method expresses very different, specific, and unique information,
                            allowing people to learn more about themselves.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                        <span class="accordion-title">What is a numerology reading?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            A numerology reading occurs when a numerologist analyses your number chart and predicts
                            numerous life-changing numbers. A numerology reading entails a lot of calculation. These
                            calculations can go into several layers of detail, with individual numbers and number
                            combinations holding different meanings.
                        </p>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                        <span class="accordion-title">What is a master number in numerology?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            According to numerology, the master numbers are 11, 22, and 33. These three numbers are
                            known as the "Triangle of Enlightenment." These two-digit numbers are thought to be
                            incredibly powerful. They can be extremely positive or overall negative.
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<script>
    //  Social icons toggle button open / close 

    document.addEventListener("DOMContentLoaded", function () {
        const toggleIcon = document.querySelector(".toggleIcon");
        const socialIcons = document.querySelectorAll(".mobileviewSocial ul li:not(.toggleIcon)");
        const toggleIconSymbol = toggleIcon.querySelector("i");

        toggleIcon.addEventListener("click", () => {
            socialIcons.forEach(icon => {
                icon.classList.toggle("visible");
            });

            // Toggle the "+" and "-" icon
            if (toggleIconSymbol.classList.contains("fa-plus")) {
                toggleIconSymbol.classList.replace("fa-plus", "fa-minus");
            } else {
                toggleIconSymbol.classList.replace("fa-minus", "fa-plus");
            }
        });
    });
</script>

{% endblock main-content %}