<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Form Report</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <section class="reviewSec">

        <div class="reviewMain">
            <img src="/static/assets/icons/App icon.png" alt="" class="logoPNG">

            <div class="reviewContainer">
                <h1>Limited-time Offer!</h1>

                <!-- offer  -->

                <div class="inputContainer">


                    <div class="radioBtn">
                        <div class="radioData checkbox">
                            <div>
                                <input type="checkbox" id="s-option" name="selector">
                                <div class="checkbox__checkmark"></div>
                            </div>
                            <div class="labels">
                                <label for="s-option">Varshphal Report</label>
                                <h6>Your Yearly Predictions</h6>
                            </div>
                        </div>

                        <div class="priceContainer">
                            <h5><strike>₹495.00</strike> ₹384.00 </h5>
                        </div>
                    </div>

                    <div class="radioBtn">
                        <div class="radioData checkbox">
                            <div>
                                <input type="checkbox" id="d-option" name="selector">
                                <div class="checkbox__checkmark"></div>

                            </div>
                            <div class="labels">
                                <label for="d-option">Your Premium Kundli</label>
                                <h6>Your Yearly Predictions</h6>
                            </div>
                        </div>

                        <div class="priceContainer">
                            <h5><strike>₹495.00</strike> ₹384.00 </h5>
                        </div>
                    </div>

                    <div class="radioBtn">
                        <div class="radioData checkbox">
                            <div>
                                <input type="checkbox" id="e-option" name="selector">
                                <div class="checkbox__checkmark"></div>
                            </div>
                            <div class="labels">
                                <label for="e-option"> Best Combo Offer </label>
                                <h6>Premium Kundli + Varshphal</h6>
                            </div>
                        </div>
                        <div class="priceContainer">
                            <h5><strike>₹495.00</strike> ₹384.00 </h5>
                        </div>
                    </div>

                </div>

                <!-- review details  -->
                <div class="reviewDetails">

                    <div class="reviewCard">
                        <div class="reviewD">
                            <h2>Review Birth Details</h2>
                            <div class="reviewSubD">
                                <h5>{{ form_data.name }}</h5>
                                <div class="reviewDate">
                                    <h6>{{ form_data.day }}/{{ form_data.month }}/{{ form_data.year }}</h6>
                                    <h6>{{ form_data.hour }}:{{ form_data.minute }}</h6>
                                </div>
                                <h6><img src="/static/assets/icons/location-pin-svgrepo-com.svg" alt="">{{ form_data.place }}</h6>
                            </div>
                        </div>
                    </div>


                    <div class="reviewCard">
                        <div class="reviewD">
                            <h2>Report Language</h2>

                            <div class="langSelect">
                                <select name="" id="">
                                    <option value="#">English </option>
                                    <option value="#">Hindi </option>
                                </select>
                            </div>
                        </div>

                        <div class="reviewD reviewS">
                            <h2>Varshaphal Year</h2>

                            <div class="langSelect">
                                <select name="" id="">
                                    <option value="#">April 2023 - March 2024 </option>
                                    <option value="#">April 2024 - March 2025 </option>
                                    <option value="#">April 2025 - March 2026</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Email and number details  -->

                <div class="formDetails">
                    <form action="" method="post" action="{% url 'payment' %}">
                        {% csrf_token %}
                        <div class="EmailDetails">
                            <div>
                                <label for="">Enter Your Email</label>
                            </div>
                            <div>
                                <input type="email" id="email" name="email" placeholder="Enter Your Email">
                            </div>
                        </div>
                        <div class="EmailDetails">
                            <div>
                                <label for="">Enter Your Mobile number</label>
                            </div>
                            <div>
                                <input type="number" id="mobile" name="mobile" placeholder="Enter Your Mobile number">
                            </div>
                        </div>
                        <div class="inputBx formBtn">
                            <input type="submit" value="Pay Now">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- <h1>Payment Page</h1>
    <form method="post" action="{% url 'payment' %}">
        {% csrf_token %}
        
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ form_data.name }}" readonly>
        </div>

        <div>
            <label for="birthdate">Birthdate:</label>
            <input type="text" id="birthdate" name="birthdate" value="{{ form_data.day }}/{{ form_data.month }}/{{ form_data.year }}" readonly>
        </div>

        <div>
            <label for="time">Time:</label>
            <input type="text" id="time" name="time" value="{{ form_data.hour }}:{{ form_data.minute }}" readonly>
        </div>

        <div>
            <label for="mobile">Mobile Number:</label>
            <input type="text" id="mobile" name="mobile" required>
        </div>

        <div>
            <label for="email">Email ID:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <button type="submit">Pay Now</button>
    </form> -->
</body>

</html>