{% extends 'base.html'%}
{% load static %}
{% block hero-image %} sub-pages {% endblock hero-image %}
{% block main-content %}

        <!-- hero sectin  -->

        <section class="mt-[30px]">
            <div class="w-full flex justify-between flex-col-reverse lg:flex-row">

                <div class="w-full lg:w-[50%] flex flex-col justify-center mt-[20px]">

                    <h1 class="text-[#ffe4a8] md:text-[45px] text-[30px]
                     text-center">Reiki Healing Workshop</h1>

                    <div class="text-center">
                        <a href="#" class="text-[#ff8e57]">Home </a>
                        <span class="text-[#2FAFE3]"> - </span>
                        <span class="text-[#ffe4a8]">Reiki Healing Workshop</span>
                    </div>
                </div>

                <div class="w-full lg:w-[48%] flex justify-center items-center relative">
                    <img src="/static/assets/images/astrology2-Photoroom52.png" alt=""
                        class="astrological-image max-w-[45%]">
                    <div class="absolute top-[10px]">
                        <img src="/static/assets/images/astrology2ww.png" alt="" class="xl:w-[240px] w-[175px]">
                    </div>
                    <!-- <img src="/static/assets/images/Group (1).png" alt="Astrology"
                        class="astrological-image max-w-[45%]"> -->
                </div>
            </div>
        </section>

    </header>

    <!-- Reiki Healing Workshop  -->
    <section class="main-container">
        <div class="w-full md:flex justify-between items-center">
            <div class="md:w-[70%]">

                <h2 class="text-[#CEAB5C] text-[25px] mb-[5px] leading-[31px]">Unlock Your Inner Healing Power: Join Our
                    Reiki Healing
                    Workshop ​</h2>

                <p class="">Our Reiki Healing Workshop is a unique opportunity to delve into the ancient practice of
                    channeling
                    universal life force energy. Led by experienced Reiki masters, this workshop is designed to provide
                    you with comprehensive knowledge and practical skills in the world of energy healing.</p>
            </div>

            <div class="md:w-[25%] mt-[15px] md:m-0 flex md:justify-end">
                <a href="#">
                    <button class="bg-[#AE633F] text-[#fff] py-[5px] px-[25px]
                    rounded-[10px]">Save the spot</button>
                </a>
            </div>
        </div>

    </section>

    <!-- Foundations  -->
    <section class="main-container">
        <div>
            <div class="image-box-one active w-full md:py-[60px] py-[40px] bg-cover bg-no-repeat bg-center">
                <h1 class="md:text-[35px] text-[30px] mb-[5px] text-[#CEAB5C] text-center">Foundations of Reiki</h1>
                <p class="text-center">Gain a solid understanding of Reiki's origins, principles, and the science behind
                    energy healing.</p>
            </div>
            <div class="image-box-two w-full md:py-[60px] py-[40px] bg-cover bg-no-repeat bg-center">
                <h1 class="md:text-[35px] text-[30px] mb-[5px] text-center">Chakra Alignment</h1>
                <p class="text-center">Experience the power of Reiki firsthand through guided practice sessions. Develop
                    your ability to sense and direct energy.
                </p>
            </div>
            <div class="image-box-three w-full md:py-[60px] py-[40px] bg-cover bg-no-repeat bg-center">
                <h1 class="md:text-[35px] text-[30px] mb-[5px] text-center">Hands-on Practice</h1>
                <p class="text-center">Experience the power of Reiki firsthand through guided practice sessions. Develop
                    your ability to sense and direct energy.</p>
            </div>

            <div class="image-box-four w-full md:py-[60px] py-[40px] bg-cover bg-no-repeat bg-center">
                <h1 class="md:text-[35px] text-[30px] mb-[5px] text-center">Self-Healing Techniques</h1>
                <p class="text-center">Discover how to use Reiki for your own well-being, relieving stress and promoting
                    relaxation.</p>
            </div>
            <div class="image-box-five w-full md:py-[60px] py-[40px] bg-cover bg-no-repeat bg-center">
                <h1 class="md:text-[35px] text-[30px] mb-[5px] text-center">Healing Others</h1>
                <p class="text-center">Master the art of offering Reiki healing to others. Understand the ethical
                    considerations and proper techniques for healing sessions.</p>
            </div>
            <div class="image-box-six w-full md:py-[60px] py-[40px] bg-cover bg-no-repeat bg-center">
                <h1 class="md:text-[35px] text-[30px] mb-[5px] text-center">Attunements</h1>
                <p class="text-center">Receive attunements that open your energetic channels, enhancing your ability to
                    connect with and channel healing energy.
                </p>
            </div>
            <div class="image-box-seven w-full md:py-[60px] py-[40px] bg-cover bg-no-repeat bg-center">
                <h1 class="md:text-[35px] text-[30px] mb-[5px] text-center">Integration and Empowerment</h1>
                <p class="text-center">Learn to integrate Reiki principles into your daily life, fostering a continuous
                    state of balance and harmony.</p>
            </div>

        </div>

        <div class="w-full md:flex justify-between md:mt-[75px] mt-[40px]">
            <div class="md:w-[20%]">
                <h2 class="text-[#CEAB5C] text-[25px] text-center mb-[10px] md:m-0">Who Can Attend !</h2>
            </div>
            <div class="md:w-[70%]">
                <p class="text-center">
                    Whether you're completely new to energy healing or looking to deepen your existing practice, this
                    workshop is open to all levels of experience. No prior knowledge is required—just an open heart and
                    a
                    willingness to explore the realms of healing energy.</p>
            </div>
        </div>
    </section>

    <!-- benefits  -->

    <section class="bg-[#282727] relative main-container rounded-[25px]">
        <img src="https://images.pexels.com/photos/376706/pexels-photo-376706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="" class="opacity-20 h-[535px] w-full object-cover rounded-[25px] benefit-img">

        <div class="w-full md:flex justify-between absolute top-0 px-[15px] py-[40px] xl:px-[100px] xl:py-[60px]">

            <!-- Benefits of Reiki  -->

            <div class="md:w-[45%]">
                <h1 class="text-[#AE633F] text-[35px] lg:text-[40px] text-center mb-[40px]">
                    Benefits of Reiki
                </h1>

                <div>

                    <div class="flex items-center gap-[20px]">
                        <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F]
                         rounded-[50%] text-white flex items-center justify-center">
                            <i class="fas fa-spa text-[17px] lg:text-[19px]"></i>
                        </div>
                        <p class="text-white"> Experience deep relaxation and stress reduction.</p>
                    </div>

                    <div class="flex items-center gap-[20px] my-[20px]">
                        <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F]
                         rounded-[50%] text-white flex items-center justify-center">
                            <i class="fas fa-eye text-[17px] lg:text-[19px]"></i>
                        </div>
                        <p class="text-white">Enhance your intuition and connection to your inner self.</p>
                    </div>

                    <div class="flex items-center gap-[20px] my-[20px]">
                        <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F]
                         rounded-[50%] text-white flex items-center justify-center">
                            <i class="fas fa-key text-[17px] lg:text-[19px]"></i>
                        </div>
                        <p class="text-white">Unlock your potential to heal yourself and others.</p>
                    </div>

                    <div class="flex items-center gap-[20px] my-[20px]">
                        <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F]
                         rounded-[50%] text-white flex items-center justify-center">
                            <i class="fas fa-seedling text-[17px] lg:text-[19px]"></i>
                        </div>
                        <p class="text-white">Foster a sense of balance and overall well-being.</p>
                    </div>

                    <div class="flex items-center gap-[20px] my-[20px]">
                        <div class="w-[35px] h-[35px] lg:w-[42px] lg:h-[42px] bg-[#AE633F]
                         rounded-[50%] text-white flex items-center justify-center">
                            <i class="fas fa-tools text-[17px] lg:text-[19px]"></i>
                        </div>
                        <p class="text-white">Gain a valuable tool for personal growth and transformation.</p>
                    </div>



                </div>
            </div>

            <div class="border-l-[#CEAB5C] border-l border-solid"></div>

            <div class="md:w-[47%] lg:pl-[25px] p-0">
                <h1 class="text-[#AE633F] text-[35px] lg:text-[40px] text-center md:mb-[40px] mb-[20px]">Reserve Your
                    Spot</h1>

                <p class="text-white leading-[28px]">Spaces are limited, so make sure to secure your spot in our Reiki
                    Healing
                    Workshop. Embark on a
                    journey of self-discovery, healing, and empowerment that will leave you with lifelong tools for
                    wellness.</p>

                <p class="text-white my-[15px] leading-[28px]">Join us in exploring the boundless potential of Reiki.
                    Together, let's
                    awaken the healer within and
                    embark on a path of holistic transformation.
                </p>

                <p class="text-white leading-[28px]">For inquiries and reservations, <br>

                    Contact: 9175912752</p>
            </div>
        </div>

    </section>

    <!-- Form  -->
    <section class="main-container flex items-center justify-center relative h-[550px] bg-cover bg-center bg-no-repeat">
        <div class="md:w-[50%] absolute md:left-[25%] left-0 inset-0 opacity-25 bg-cover bg-center bg-no-repeat"
            style="background-image: url('/static/assets/images/Group\ 22.png');">
        </div>

        <div class="w-full relative z-10 flex justify-center items-center flex-col">
            <h1 class="text-[#CEAB5C] text-[35px] lg:text-[45px] text-center md:mb-[60px] mb-[40px]">
                I want to join Workshop, Sign me up!
            </h1>

            <div class="xl:w-[60%] md:w-[75%]">

                <form action="" class="reiki-form w-full">

                    <div class="w-full flex justify-between">

                        <div class="w-[48%]">
                            <div>
                                <label for="">First Name</label>
                            </div>
                            <div>
                                <input type="text" placeholder="Enter your First Name">
                            </div>
                        </div>

                        <div class="w-[48%]">
                            <div>
                                <label for="">Last Name</label>
                            </div>
                            <div>
                                <input type="text" placeholder="Enter your Last Name">
                            </div>
                        </div>

                    </div>

                    <div class="w-full flex justify-between my-[20px]">

                        <div class="w-[48%]">
                            <div>
                                <label for="">Phone no</label>
                            </div>
                            <div>
                                <input type="text" placeholder="Enter your Phone Number">
                            </div>
                        </div>

                        <div class="w-[48%]">
                            <div>
                                <label for="">Email</label>
                            </div>
                            <div>
                                <input type="text" placeholder="Enter your Email">
                            </div>
                        </div>

                    </div>


                    <div class="w-full flex justify-between">
                        <div class="w-full">
                            <div>
                                <label for="">Message</label>
                            </div>
                            <div>
                                <textarea name="" id="" placeholder="Enter your Email"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="mt-[20px]">
                        <a href="#">
                            <button class="w-full bg-[#AE633F] text-[#fff] py-[10px]
                            rounded-[10px]">Send</button>
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </section>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const imageBoxes = document.querySelectorAll(".main-container div > div");

            imageBoxes.forEach((box) => {
                box.addEventListener("mouseover", function () {
                    // Remove active class from all boxes
                    imageBoxes.forEach((b) => b.classList.remove("active"));
                    // Add active class to the current hovered box
                    this.classList.add("active");
                });
            });
        });

    </script>
{% endblock main-content %}
