<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Refund Policy</title>
</head>

<body>
        <div data-custom-class="body">
            <div>
                <div align="center" class="MsoNormal" style="text-align:center;line-height:115%;"><a
                        name="_2cipo4yr3w5d"></a>
                    <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><strong><span
                                style="font-size: 26px;"><span data-custom-class="title">RETURN
                                    POLICY</span></span></strong></div>
                    <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><br></div>
                    <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><span
                            style="font-size: 15px;"><span style="color: rgb(89, 89, 89);"><strong><span
                                        data-custom-class="subtitle">Last updated <bdt class="question">June 24, 2024
                                        </bdt>
                                    </span></strong></span></span></div>
                    <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><br></div>
                    <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><span
                            style="font-size: 15px;"><br><a name="_2cipo4yr3w5d"></a></span></div>
                </div>
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                        style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                        <bdt class="block-component"></bdt>
                    </span></div>
                <div data-custom-class="heading_1"><strong><span style="font-size: 19px;">REFUNDS</span></strong></div>
                <div style="line-height: 1.5;"><br></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span style="font-size: 15px;">All sales
                        are
                        final and no refund will be issued.<bdt class="block-component"></bdt></span></div>
                <div style="line-height: 1.5;"><br></div>
                <div data-custom-class="heading_1" style="line-height: 1.5;"><span
                        style="font-size: 19px; color: rgb(0, 0, 0);"><strong>QUESTIONS</strong></span></div>
                <div style="line-height: 1.5;"><br></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span
                        style="font-size: 15px; color: rgb(89, 89, 89);">If you have any questions concerning our return
                        policy, please contact us at:</span></div>
                <div data-custom-class="body_text" style="line-height: 1.1;"><br></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span style="font-size: 15px;">
                        <bdt class="block-component"></bdt>
                    </span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span style="font-size: 15px;">
                        <bdt class="question"><span style="color: rgb(89, 89, 89);">9175932752</span></bdt><span
                            style="color: rgb(89, 89, 89);">
                            <bdt class="statement-end-if-in-editor"></bdt>
                        </span>
                    </span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span
                        style="font-size: 15px; color: rgb(89, 89, 89);">
                        <bdt class="question">info.nhmcpune@gmail.com</bdt>
                    </span></div>

            </div>
        
        <footer>
            <div class="footerSec">
              <div class="footerTop">
                <img src="/static/assets/icons/App icon.png" alt="">
        
                <ul>
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'policy' %}">Privacy Policy</a></li>
                  <li><a href="{% url 'terms' %}">Terms Condition</a></li>
                  <li><a href="{% url 'return' %}">Return And Refund</a></li>
                </ul>
              </div>
              <div class="footerB">
              
                <div class="footerContent">
                  <h2>Mobile No - +919175932752</h2>
                  <h2>Email Id - info.nhmcpune@gmail.com</h2>
                </div>
                <div>
                  <h5> All Rights Reverved by © Shiv-Cosmic 2024 </h5>
                </div>
              </div>
            </div>
          </footer>
</body>

</html>