<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Kundli Page</title>

    <!-- Main Custom CSS -->
    <link rel="stylesheet" href="/static/css/Landing page css/style.css" media="print" onload="this.media='all'">


    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- font-awesome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <!-- Philosopher & Roboto font Link -->
    <link
        href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- ------- Hero section ------  -->

    <section class="bg-center h-[520px] bg-cover bg-no-repeat px-[100px] py-[60px] flex
             items-center  flex-col" style="background-image: url('/static/assets/images/Sub-Banner.jpg');">

        <div class="bg-[#fff] w-[80%] h-[40px] flex items-center justify-center rounded-[10px] mb-[40px]">
            <h1 class="font-bold text-[21px] text-[#222222]">Attention If You're Seeking Life Guidance – Get Your
                Personalized Janam Kundli Report Today!</h1>
        </div>

        <div class="w-[80%] text-center mt-[40px]">
            <h1 class="font-bold text-[38px] text-[#fff] leading-[42px]">Unlock the <strong
                    class="text-[#42c4ff]">Secrets of Your Future</strong> with an
                Accurate Janam Kundli Report – Delivered
                Instantly!</h1>

            <p class="text-[#fff] text-[18px] mt-[20px]">Unlock personalized insights into your love life, finances,
                health, and career
                through the wisdom of ancient
                Vedic astrology <br> with a detailed Kundli based on your birth date and time.</p>
        </div>



    </section>

    <!-- Kundli  -->
    <section class="flex items-center flex-col justify-center">
        <div class="">
            <img src="/static/assets/images/kundli.png" alt="">
        </div>

        <div class="w-[50%] flex justify-between my-[15px]">
            <div class="w-[50%] flex items-center justify-end gap-[10px]">
                <i class="fa-solid fa-face-smile text-[22px] text-[#AE633F]"></i>
                <p class="text-[17px]">1.2 lakh+ Astroparivar kundli members</p>
            </div>
            <div class="w-[35%] flex items-center justify-end gap-[10px]">
                <i class="fa-solid fa-circle-check text-[22px] text-[#AE633F]"></i>
                <p class="text-[17px]">100% Accurate Predictions</p>
            </div>
        </div>

        <div>
            <a href="#">
                <button class="btn btn--snakeBorder">
                    Buy Your Personalized Kundli
                </button>
            </a>
        </div>
    </section>

    <!-- Janam Kundli Report -->

    <section class="bg-center bg-cover bg-no-repeat px-[100px] py-[60px] mt-[60px]"
        style="background-image: url('/static/assets/images/Group-BG.jpg');">

        <div>
            <h1 class="font-bold text-[35px] text-[#222222] leading-[38px] text-center mb-[40px]">This Janam Kundli
                Report is designed to help you address and <strong class="gradient-text">overcome all these
                    challenges in your life.</strong>
            </h1>

            <div class="w-full flex justify-between">

                <!-- left col  -->
                <div class="w-[32%]">

                    <div class="w-full">
                        <div
                            class="w-[8%] bg-[#AE633F] flex items-center justify-center h-[30px] rounded-[5px] mb-[10px]">
                            <i class="fa-solid fa-heart-crack text-[#fff] text-[21px]"></i>
                        </div>

                        <div class="w-[90%]">
                            <h1 class="font-bold text-[20px]">Relationship Problems</h1>
                            <p class="text-justify">Are you struggling to develop & maintain healthy relationships with
                                your family and loved
                                ones? Know about your life partner in your kundli report.</p>
                        </div>
                    </div>

                    <div class="w-full my-[15px]">
                        <div
                            class="w-[8%] bg-[#AE633F] flex items-center justify-center h-[30px] rounded-[5px] mb-[10px]">

                            <img src="/static/assets/icons/loss.png" alt="graph" class="max-w-[25px] graph-white">
                        </div>

                        <div class="w-[90%]">
                            <h1 class="font-bold text-[20px]">Business Problems</h1>
                            <p class="text-justify">Struggling with business goals? Overcome losses and financial
                                challenges. Boost earnings with personalized finance insights from your online Janam
                                Kundli report!</p>
                        </div>
                    </div>

                    <div class="w-full">
                        <div
                            class="w-[8%] bg-[#AE633F] flex items-center justify-center h-[30px] rounded-[5px] mb-[10px]">
                            <img src="/static/assets/icons/price-down.png" alt="graph" class="max-w-[25px] graph-white">
                        </div>

                        <div class="w-[90%]">
                            <h1 class="font-bold text-[20px]">Financial Troubles</h1>
                            <p class="text-justify">Struggling to Make Ends Meet Due to Financial Troubles? Unable to
                                save your hard- earned
                                money? Discover Effective Solutions in detailed Kundli & Financial analysis report by
                                time & date of birth.</p>
                        </div>
                    </div>


                </div>

                <!-- middle col  -->
                <div class="w-[30%]">
                    <img src="/static/assets/images/kundli format.png" alt="kundli-format">
                </div>

                <!-- right col  -->
                <div class="w-[33%] pl-[30px]">

                    <div class="w-full">
                        <div
                            class="w-[8%] bg-[#AE633F] flex items-center justify-center h-[30px] rounded-[5px] mb-[10px]">
                            <i class="fa-solid fa-heart-circle-xmark text-[#fff] text-[21px]"></i>
                        </div>

                        <div class="w-[90%]">
                            <h1 class="font-bold text-[20px]">Love troubles</h1>
                            <p class="text-justify">Facing a lack of love from your partner? Is your partner losing
                                interest in you? Feeling Unloved & Unhappy in Your Relationship? Get Expert Insights in
                                kundli report.</p>
                        </div>
                    </div>

                    <div class="w-full my-[15px]">
                        <div
                            class="w-[8%] bg-[#AE633F] flex items-center justify-center h-[30px] rounded-[5px] mb-[10px]">
                            <i class="fas fa-briefcase text-[#fff] text-[21px]"></i>
                        </div>

                        <div class="w-[90%]">
                            <h1 class="font-bold text-[20px]">Career Prospects</h1>
                            <p class="text-justify">Longing for a Luxurious Lifestyle? Facing Challenges in getting
                                dream job? Struggling with Government Job Exams? Low Grades? Get complete career
                                analysis to Ace Exams & Secure Jobs, Even Abroad with online janam kundli report.</p>
                        </div>
                    </div>

                    <div class="w-full">
                        <div
                            class="w-[8%] bg-[#AE633F] flex items-center justify-center h-[30px] rounded-[5px] mb-[10px]">
                            <i class="fas fa-gem text-[#fff] text-[21px]"></i>
                        </div>

                        <div class="w-[90%]">
                            <h1 class="font-bold text-[20px]">Home and Luxury</h1>
                            <p class="text-justify">Longing for a Luxurious Lifestyle? Have troubles at home &
                                neighborhood? Unable to build a new home & life? Get solutions & in-depth analysis in
                                Your Kundli Report.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- process step to create your Personalised Kundli  -->

    <section class="bg-center bg-cover bg-no-repeat px-[100px] py-[60px]"
        style="background-image: url('/static/assets/images/purple-background.jpg');">

        <h1 class="font-bold text-[35px] text-[#fff] leading-[38px] text-center mb-[40px]">Here’s <strong
                class="gradient-text">the 5-step process</strong> to create your Personalised Kundli</h1>

        <div>

            <!-- 01  -->
            <div class="flex justify-end">
                <div class="w-[54%] flex items-center gap-[25px]">

                    <div class="w-[18%]">
                        <div class="w-[100px] h-[100px] bg-center bg-cover bg-no-repeat flex items-center justify-center"
                            style="background-image: url('/static/assets/images/Frame.png');">
                            <h1 class="text-white text-[19px]">01</h1>
                        </div>

                    </div>
                    <div class="w-[75%]">
                        <h1 class="text-[#fff] text-[19px] font-bold">Enter Your Details</h1>
                        <p class="text-[#fff]">Share your birth date, time, and place to kickstart your Kundali
                            creation.</p>
                    </div>
                </div>
            </div>


            <!-- 02 -->
            <div class="flex">
                <div class="w-[56%] flex items-center justify-end gap-[25px]">
                    <div class="w-[75%] pt-[45px]">
                        <h1 class="text-[#fff] text-[19px] font-bold"> Preparation of Birth Charts</h1>
                        <p class="text-[#fff]">Our experts will meticulously prepare your personalized birth charts
                            using Vedic astrology principles.</p>
                    </div>

                    <div class="w-[18%] relative process-step pt-[45px]">
                        <div class="w-[100px] h-[100px] bg-center bg-cover bg-no-repeat flex items-center justify-center"
                            style="background-image: url('/static/assets/images/Frame.png');">
                            <h1 class="text-white text-[19px]">02</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 03 -->
            <div class="flex justify-end">
                <div class="w-[54%] flex items-center gap-[25px]">

                    <div class="w-[18%] relative process-step pt-[45px]">
                        <div class="w-[100px] h-[100px] bg-center bg-cover bg-no-repeat flex items-center justify-center"
                            style="background-image: url('/static/assets/images/Frame.png');">
                            <h1 class="text-white text-[19px]">03</h1>
                        </div>
                    </div>

                    <div class="w-[75%] pt-[45px]">
                        <h1 class="text-[#fff] text-[19px] font-bold">Expert Chart Analysis</h1>
                        <p class="text-[#fff]">Receive a comprehensive analysis from top Kundali experts, ensuring deep
                            insights into your life.</p>
                    </div>
                </div>
            </div>

            <!-- 04 -->
            <div class="flex">
                <div class="w-[56%] flex items-center justify-end gap-[25px]">
                    <div class="w-[75%] pt-[45px]">
                        <h1 class="text-[#fff] text-[19px] font-bold"> Identifying Challenges</h1>
                        <p class="text-[#fff]">We’ll help you uncover potential challenges reflected in your Kundali,
                            offering clarity on your life's path.</p>
                    </div>

                    <div class="w-[18%] relative process-step pt-[45px]">
                        <div class="w-[100px] h-[100px] bg-center bg-cover bg-no-repeat flex items-center justify-center"
                            style="background-image: url('/static/assets/images/Frame.png');">
                            <h1 class="text-white text-[19px]">04</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 05 -->
            <div class="flex justify-end">
                <div class="w-[54%] flex items-center gap-[25px]">

                    <div class="w-[18%] relative process-step pt-[45px]">
                        <div class="w-[100px] h-[100px] bg-center bg-cover bg-no-repeat flex items-center justify-center"
                            style="background-image: url('/static/assets/images/Frame.png');">
                            <h1 class="text-white text-[19px]">05</h1>
                        </div>
                    </div>

                    <div class="w-[75%] pt-[45px]">
                        <h1 class="text-[#fff] text-[19px] font-bold">Personalized Solutions Provided</h1>
                        <p class="text-[#fff]">Based on your analysis, we’ll deliver tailored solutions to empower you
                            and guide you toward your dreams.</p>
                    </div>
                </div>
            </div>


            <div class="flex items-center justify-center mt-[60px]">
                <a href="#">
                    <button class="btn btn--snakeBorder">
                        Buy Your Personalized Kundli
                    </button>
                </a>
            </div>


        </div>
    </section>

    <!-- What will you get in kundli ?  -->
    <section class="bg-center bg-cover bg-no-repeat px-[100px] py-[60px]"
        style="background-image: url('/static/assets/images/Group-BG.jpg');">
        <h1 class="font-bold text-[35px] text-[#222222] leading-[38px] text-center mb-[40px]">This <strong
                class="gradient-text">What will you get </strong>
            in your Personalized Online Janam Kundli?
        </h1>


        <div class="w-full flex justify-between">
            <div class="w-[24%] p-[20px] rounded-[10px] cardkundliInfo">
                <h1 class="font-bold text-[21px] mb-[10px] gradient-text">Dosh & Dasha's analysis</h1>
                <p class="text-[16px]">Detailed report of doshas – Kuja (Mangal), Shani (Saturn), Rahu-Ketu, Dasha &
                    remedies, from mantras
                    to rituals.</p>
            </div>
            <div class="w-[24%] p-[20px] rounded-[10px] cardkundliInfo">
                <h1 class="font-bold text-[21px] mb-[10px] gradient-text">All yog report</h1>
                <p class="text-[16px]">Know about the yogs that are formed in your kundali-hana, Raja, Graha Maitri,
                    Budhaditya, and Sri Yoga. Unlock wealth, career growth, relationships, intellect.</p>
            </div>
            <div class="w-[24%] p-[20px] rounded-[10px] cardkundliInfo">
                <h1 class="font-bold text-[21px] mb-[10px] gradient-text">Gemstone recommendation</h1>
                <p class="text-[16px]">When, Why, & How to wear gems by the best gemologist in india. Get personalized
                    gemstone recommendations based on your kundli report.</p>
            </div>
            <div class="w-[24%] p-[20px] rounded-[10px] cardkundliInfo">
                <h1 class="font-bold text-[21px] mb-[10px] gradient-text">Puja recommendation</h1>
                <p class="text-[16px]">Puja's to do suggestions by studying Kundli's dosha remedies. The rituals are
                    designed to balance life & bring positivity, based on grahas.</p>
            </div>

        </div>

        <div class="w-full flex justify-between mt-[20px]">
            <div class="w-[24%] p-[20px] rounded-[10px] cardkundliInfo">
                <h1 class="font-bold text-[21px] mb-[10px] gradient-text">Ank Jyotish recommendation</h1>
                <p class="text-[16px]">A numerological analysis of your numbers gives out details of your personality,
                    nature, and behaviors.</p>
            </div>
            <div class="w-[24%] p-[20px] rounded-[10px] cardkundliInfo">
                <h1 class="font-bold text-[21px] mb-[10px] gradient-text">Monthly prediction
                    for 1 year</h1>
                <p class="text-[16px]">Know what this year has got for you through a detailed report of your monthly
                    horoscope.</p>
            </div>
            <div class="w-[24%] p-[20px] rounded-[10px] cardkundliInfo">
                <h1 class="font-bold text-[21px] mb-[10px] gradient-text">Yearly prediction
                    for 10 years</h1>
                <p class="text-[16px]">Know what this decade has got for you through a detailed report of your monthly
                    horoscope.</p>
            </div>
            <div class="w-[24%] p-[20px] rounded-[10px] cardkundliInfo">
                <h1 class="font-bold text-[21px] mb-[10px] gradient-text">Astrograph/
                    Bhavbal graph</h1>
                <p class="text-[16px]">Get a personalized astrograph through your Kundali and horoscope analysis.</p>
            </div>

        </div>

        <div class="flex items-center justify-center mt-[40px]">
            <a href="#">
                <button class="btn btn--snakeBorder">
                    Buy Your Personalized Kundli
                </button>
            </a>
        </div>
    </section>

    <!-- Faqs  -->

    <section class="bg-center bg-cover bg-no-repeat px-[100px] py-[60px]"
        style="background-image: url('/static/assets/images/purple-background.jpg');">

        <h1 class="font-bold text-[35px] text-[#fff] leading-[38px] text-center mb-[40px]">This
            Frequently Asked Questions <strong class="gradient-text">(FAQs): </strong>
        </h1>

        <div class="w-full">

            <div class="accordion flex justify-between">

                <div class="w-[48%]">

                    <div class="accordion-item">
                        <button id="accordion-button-1" aria-expanded="false">
                            <span class="accordion-title">Is Premium Kundli available in any language other than
                                english?
                            </span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Yes, the Premium Kundli is available in 10+ Indian Languages.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-2" aria-expanded="false">
                            <span class="accordion-title">Can Astrology predict the future accurately?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Astrology is a science derived from the eyes of the Vedas. These Vedas are used as a
                                guiding tool to understand your Kundli and give you a bigger picture of your future.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-3" aria-expanded="false">
                            <span class="accordion-title">In how many days you will receive your kundli?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                In 5-10 working days you will receive it.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-4" aria-expanded="false">
                            <span class="accordion-title">How Accurate are Personalized Kundli Reports?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Personalized Kundli reports are highly accurate as they are based on precise
                                astrological calculations using Vedic principles. Our expert astrologers meticulously
                                analyze the planetary positions at the time of your birth to provide accurate insights
                                into various aspects of your life.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">What Information Do I Need to Provide for a Personalized
                                Kundli Report?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                To create a personalized Kundli report, you need to provide your date, time, and place
                                of birth. This information helps astrologers accurately calculate the positions of
                                celestial bodies at the time of your birth, forming the basis of your Kundli analysis.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">What Can I Expect from a Personalized Kundli Report?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                A personalized Kundli report offers detailed insights into your personality, strengths,
                                weaknesses, career prospects, health, relationships, and more. It provides predictions
                                and recommendations tailored to your unique astrological profile, empowering you to make
                                informed decisions in life.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">How Does Kundli Analysis Help in Life Decision-Making?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Kundli analysis helps in life decision-making by providing insights into various aspects
                                of your life, such as career, relationships, health, and finance. By understanding your
                                strengths, weaknesses, and potential challenges highlighted in the Kundli report, you
                                can make informed choices and navigate life’s ups and downs more effectively.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">Can I Get Remedies for Doshas Identified in My Kundli Report?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Yes, if doshas or planetary afflictions are identified in your Kundli report, our expert astrologers can provide remedies and solutions to mitigate their effects. These remedies may include performing specific rituals, wearing gemstones, reciting mantras, or following prescribed rituals to alleviate the negative influences of doshas.
                            </p>
                        </div>
                    </div>
                    
                </div>

                <div class="w-[48%]">

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">Can my future be changed through an understanding of kundali?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Kundali helps you understand what’s in the future for you. If you do your daily tasks according to the guide of experts, then you can get a grip on your outcomes.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">How and when will I receive the Kundli?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                You will receive your Kundli through mail within 5-10 working days. (Note- Please check your spam and Promotion folder as well.)
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">Where I can receive my kundli ?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                You will receive your kundli in your mail. if you can not see it in your primary folder please check your “spam” folder.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">Is Kundli Matching Included in a Personalized Kundli Report?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                No, Kundli matching is a separated report and is not included in personalized Kundli reports. You can order your personalised Kundli matching report for seeking compatibility analysis for marriage. 
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">What Makes Your Personalized Kundli Report Different from Others?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Our personalized Kundli reports stand out for their accuracy, depth of analysis, and expert guidance. With years of experience in Vedic astrology, our astrologers provide comprehensive insights and recommendations tailored to your specific needs and concerns.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">Are the Predictions in the Kundli Report Time-Specific?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Yes, the predictions in the Kundli report are often time-specific, offering insights into different phases of your life based on planetary transits and dasa periods. Our astrologers provide predictions for specific time frames, helping you prepare for future events and make the most of favorable planetary influences.
                            </p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button id="accordion-button-5" aria-expanded="false">
                            <span class="accordion-title">Can I Consult with an Astrologer After Receiving My Kundli Report?</span>
                            <span class="icon" aria-hidden="true"></span>
                        </button>
                        <div class="accordion-content">
                            <p>
                                Yes, you can consult with an astrologer after receiving your Kundli report to seek clarification, ask questions, or discuss specific concerns. Our platform offers personalized consultation services with our astrologer Astro Arun Pandit Ji to address your queries and provide additional guidance based on your Kundli analysis on a chargeable basis.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <script src="/static/javascript/main.js"></script>
</body>

</html>